<h2>Monitor Filters</h2>

<!-- FILTERS -->
<div class="row">
    <div class="list-group clear-list" ng-if="alert.IsFilterable">

		<div class="ibox float-e-margins no-margins">

            <div ng-repeat="item in definitions" class="list-group-item" ng-class="{'fist-item1' : $index == 0}" style="position:relative;">

				<!-- Normal devices - indexing rows-->
        		<span class="m-t-xs label-filter label label-primary">{{$index + 1}}</span>

				<!-- Small Devices - delete button -->
        		<div class="visibile-xs-block hidden-md hidden-lg col-xs-12">
        			<button name="deleteBtnLg" class="btn btn-danger btn-sm pull-right" type="button" ng-click="removeRow($index)" usage>
        				<i class="fa fa-trash"></i>
                        <span>&nbsp;Delete</span>
                    </button>
                    <div class="clearfix"></div>
        		</div>

		    	<!-- MAIN FILTER - PROPERTY -->
		    	<div class="col-md-4 ">
                    <div class="form-group m-t-sm">
                        <select 
                            name="row_{{$index}}_filter" 
                            class="form-control"

                            ng-model="item.Items.Property.Value"
							
                            ng-change="fieldsConfigOnChange(
                            	item.Items.Property.Value,
                            	$index
                            )"
							ng-init="initChangeEmptyRow(
								item.Items.Property.Value,
                            	$index,
                            	item.Items.Property.DropDownValues
                            )"
                            ng-options="master.Value.ThisValue as master.Name for master in item.Items.Property.DropDownValues|filter:notBlank"
                            required
                        >
                        </select>
                    </div>
                </div>
				
				<!-- COMPARER -->
				<div class="col-md-4 ">
					<div class="form-group m-t-sm">
                        <select 
                        	ng-if="item.Items.Property.Value"
                            name="row_{{$index}}_comparer" 
                            id="" 
                            class="form-control "

                            ng-model="item.Items.Comparer[mapFields[item.Items.Property.Value]['Comparer']].Value"

                            ng-options="master.Value as master.Name for master in item.Items.Comparer[mapFields[item.Items.Property.Value]['Comparer']].DropDownValues"
                            required
                        >
                        </select>
					</div>

				</div>

				<!-- TEMPLATE -->
				<div class="col-md-3">
					<div 	
						class="form-group m-t-sm"
						ng-if="item.Items.Property.Value" 
						ng-switch="item.Items.InputTemplate[mapFields[item.Items.Property.Value]['InputTemplate']].ValueDisplayType"

						ng-init="fieldTypeFromDropdown(item.Items.InputTemplate[mapFields[item.Items.Property.Value]['InputTemplate']].DropDownValues,$index,item.Items.InputTemplate[mapFields[item.Items.Property.Value]['InputTemplate']].DropDownValues[item.Items.InputTemplate[mapFields[item.Items.Property.Value]['InputTemplate']].Value].Name);"
						
                        ng-class="{ 'has-error' : 
                                alertForm.row_{{$index}}_template.$invalid && 
                                alertForm.row_{{$index}}_template.$dirty ,
                                ''  : 
                                !alertForm.row_{{$index}}_template.$invalid && 
                                alertForm.row_{{$index}}_template.$dirty}"

					>
						<!-- Type Select -->
                        <select 
                        	
                        	ng-switch-when="Select"
                            name="row_{{$index}}_template" 
                            class="form-control"

                            ng-model="item.Items.InputTemplate[mapFields[item.Items.Property.Value]['InputTemplate']].Value"

                            ng-change="setOption(
                            	item.Items.InputTemplate[mapFields[item.Items.Property.Value]['InputTemplate']].DropDownValues[item.Items.InputTemplate[mapFields[item.Items.Property.Value]['InputTemplate']].Value],
                            	$index										
                            );"
							
                            ng-options="master.Value as master.Name for master in item.Items.InputTemplate[mapFields[item.Items.Property.Value]['InputTemplate']].DropDownValues"
                            required
                        >
                        </select>

                        <!-- Type Text -->
                        <input
                        	type="{{type}}"
                        	ng-switch-when="Text"
                            name="row_{{$index}}_template"
                            class="form-control"

                            ng-model="item.Items.InputTemplate[mapFields[item.Items.Property.Value]['InputTemplate']].Value"

                            ng-pattern="item.Items.InputTemplate[mapFields[item.Items.Property.Value]['InputTemplate']].ValidationExpression"
                            
                            required
                            />
					</div>
				</div>
				<!-- Normal devices Delete -->
				<div class="col-md-1 m-t-sm hidden-xs hidden-sm">
                    <button name="deleteBtn" class="btn btn-danger btn-block" type="button" ng-click="removeRow($index)" usage>
                    	<i class="fa fa-trash"></i>
                    </button>
                </div>
				<div class="clearfix"></div>

            </div>
        </div>

	</div>
</div>

<div class="clearfix"></div>