<div class="inmodal">
    <div class="modal-header">
        <i class="fa fa-edit modal-icon"></i>
        <h4 class="modal-title">Edit Groups</h4>
    </div>      
    <form role="form" name="form" class="form-horizontal" novalidate autocomplete="off" ng-submit='submitForm()'>
        <div class="modal-body">
            <div class="col-md-12 well">

                <!-- BOX RESULT -->
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Configuration
                            <small>Search, Edit or Add Group</small>
                        </h5>
                    </div>
                    <div class="ibox-content ibox-heading ">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Create New Group
                                    <div class="stat-percent text-navy"><i class="fa fa-level-down"></i></div>
                                </h4>
                                <div 
                                    class="form-group"
                                    ng-class="{ 
                                        'has-error' : 
                                            form['newGroup'].$invalid && 
                                            form['newGroup'].$dirty , 
                                        ''  : 
                                            !form['newGroup'].$invalid && 
                                            form['newGroup'].$dirty }"
                                    >
                                    <div class="input-group col-md-12 no-margin-y" >
                                        <input
                                            type="text"
                                            name="newGroup" 
                                            class="form-control input-sm"
                                            ng-change="changeNewName(form.newGroup)"
                                            ng-model-option="modelOptions"
                                            ng-model="symbol.newGroup"
                                            maxlength="8"
                                            required
                                        >
                                        <span class="input-group-btn">
                                            <button 
                                                class="btn-sm btn btn-primary" 
                                                ng-class="{ 
                                                    'btn-danger' : 
                                                        form['newGroup'].$invalid && 
                                                        form['newGroup'].$dirty , 
                                                    'btn-primary'  : 
                                                        !form['newGroup'].$invalid && 
                                                        form['newGroup'].$dirty || form['newGroup'].$pristine }"
                                                
                                                type="button" 
                                                ng-click="addGroup('newGroup')"
                                                ng-disabled="isProcessing"
                                                >
                                                <i class="fa fa-spinner fa-spin" ng-show="isProcessing"></i>
                                                <i class="fa fa-plus"></i>&nbsp;Add
                                            </button>
                                        </span>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-md-5 col-md-offset-1">
                                <h4>Search for Group
                                    <div class="stat-percent text-navy"><i class="fa fa-search"></i></div>
                                </h4>
                                <div class="form-group">
                                    <input 
                                        type="text"
                                        ng-model="selectGroup"
                                        uib-typeahead="group.Name for group in groupsDataFormated | filter:$viewValue | limitTo:8"
                                        class="form-control input-sm"
                                        ng-model-options="modelOptions"
                                        />
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="ibox-content no-padding groups-scroll col-md-12">

                        <ul class="list-group">
                            <li class="list-group-item" ng-repeat="(f1, f2) in groupsDataFormated | filter: selectGroup " >
                                <div 
                                    class="col-md-10 form-group no-margin-y" 
                                    ng-class="{ 'has-error' : 
                                            form[symbol.groups[groupsDataFormated.indexOf(f2)].Name + '-name'].$invalid && 
                                            form[symbol.groups[groupsDataFormated.indexOf(f2)].Name + '-name'].$dirty ,
                                                        ''  : 
                                            !form[symbol.groups[groupsDataFormated.indexOf(f2)].Name + '-name'].$invalid && 
                                            form[symbol.groups[groupsDataFormated.indexOf(f2)].Name + '-name'].$dirty}"
                                    >
                                    <!-- Label -->
                                    <label for="" class="col-md-3 control-label">
                                        {{::f2.Name}}
                                    </label>
                                    <!-- Group Input -->
                                    <div class="col-md-9" >
                                        <input 
                                            type="text"
                                            name="{{symbol.groups[groupsDataFormated.indexOf(f2)].Name}}-name"
                                            id="{{f2.Id}}-id"
                                            class="form-control input-sm"
                                            ng-change="changeSuggest(symbol.groups[groupsDataFormated.indexOf(f2)].Name)"
                                            ng-model="symbol.groups[groupsDataFormated.indexOf(f2)].Name"
                                            ng-model-options="{
                                                updateOn1 : 'submit'
                                            }"
                                            ng-init="symbol.groups[groupsDataFormated.indexOf(f2)].Initial = symbol.groups[groupsDataFormated.indexOf(f2)].Name"
                                            maxlength="8"
                                            required 
                                        >
                                        <span 
                                            class="help-block" 
                                            ng-show="form[symbol.groups[groupsDataFormated.indexOf(f2)].Name + '-name'].$invalid
                                            && form[symbol.groups[groupsDataFormated.indexOf(f2)].Name + '-name'].$dirty">Group can't be empty!</span>
                                    </div>
                                    <div class="clearfix"></div>
                                    <!-- <div class="col-md-12">
                                        <pre>
                                            {{symbol.groups[groupsDataFormated.indexOf(f2)]|json}}
                                        </pre>
                                    </div> -->
                                </div>
                                <div class="col-md-2">
                                    <button class="btn btn-success btn-sm" 
                                            type="button" 
                                            ng-click="updateGroup(symbol.groups[groupsDataFormated.indexOf(f2)].Name + '-name', f2.Id, symbol.groups[groupsDataFormated.indexOf(f2)].Initial)"
                                            ng-disabled="isProcessing || symbol.groups[groupsDataFormated.indexOf(f2)].Initial == symbol.groups[groupsDataFormated.indexOf(f2)].Name || (form[symbol.groups[groupsDataFormated.indexOf(f2)].Name + '-name'].$invalid && 
                                            form[symbol.groups[groupsDataFormated.indexOf(f2)].Name + '-name'].$dirty)"
                                    >
                                        <i class="fa fa-spinner fa-spin" ng-show="isProcessing"></i>
                                        <i class="fa fa-save"></i>&nbsp;Save

                                    </button>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="clearfix"></div>
            

        </div>
        <div class="modal-footer">
            
            <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
            
        </div>
    </form>
</div>

