<div class="inmodal">
    <div class="modal-header">
        <i class="fa fa-paperclip modal-icon"></i>
        <h4 class="modal-title">Assign To Group</h4>
    </div>      
    <form role="form" name="form" class="form-horizontal" novalidate autocomplete="off" ng-submit='submitForm()'>
        <div class="modal-body">
            <div class="col-md-12 well">

                <!-- BOX RESULT -->
                <div class="col-md-6">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Group List</h5>
                        </div>
                        <div class="ibox-content ibox-heading ">
                            <div class="row">
                                <div class="col-md-12">
                                    <h4>Search for Group
                                        <div class="stat-percent text-navy"><i class="fa fa-search"></i></div>
                                    </h4>
                                    <div class="form-group">
                                        <input 
                                            type="text"
                                            ng-model="selectGroup"
                                            uib-typeahead="group.Name for group in groupsDataFormated | filter:$viewValue | limitTo:8"
                                            class="form-control input-sm"
                                            ng-model-options="modelOptions"
                                            />
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="ibox-content"> 
                            <div class="no-padding groups-scroll col-md-12">
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="(f1, f2) in groupsDataFormated | filter: selectGroup " >
                                        <div class="col-md-8">
                                            <!-- Label -->
                                            <label for="" class="col-md-12 control-label text-left">
                                                {{::f2.Name}}
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <button class="btn btn-primary btn-sm" type="button" ng-click="assignToGroup(f2)"
                                            ng-disabled="isProcessing"

                                            >
                                                <i class="fa fa-spinner fa-spin" ng-show="isProcessing"></i>
                                                <i class="fa fa-paperclip"></i>&nbsp;Assign
                                            </button>
                                        </div>
                                        <div class="clearfix"></div>
                                    </li>
                                </ul>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <!-- BOX RESULT -->
                <div class="col-md-6">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Selected Symbols
                                <small>Assign to Group</small>
                            </h5>
                        </div>

                        <div class="clearfix"></div>

                        <div class="ibox-content"> 
                            <div class="no-padding groups-scroll col-md-12">
                                <table class="table table-hover no-margins">
                                    <thead>
                                        <tr>
                                            <th class="col-md-5">Symbol</th>
                                            <th>Group</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="(f1, f2) in selectedSymbols" >
                                            <td>
                                                {{f2.Symbol}}
                                            </td>
                                            <td>
                                                {{f2.TradingInstrumentGroupName}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="clearfix"></div>
            

        </div>
        <div class="modal-footer">
            
            <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
            
        </div>
    </form>
</div>

