<div class="inmodal">
    <div class="modal-header">
        <i class="fa fa-cog modal-icon"></i>
        <h4 class="modal-title">Update Symbol Info</h4>
    </div>
    <form role="form" name="update_symbol_form" class="form-horizontal" novalidate ng-submit="updateSymbol(update_symbol_form)" autocomplete="off">
    <div class="modal-body">
        <input type="hidden" name="id" ng-model="symbol.id">
        <div class="col-md-12 well">
            <table class="table table-striped table-bordered table-hover table-condensed" >
                <tr 
                    ng-repeat="(f1, f2) in pickedSymbol" 
                    ng-if="
                        f1 != 'Id' &&
                        f1 != 'InstrumentTypeId' &&
                        f1 != 'TradingInstrumentInfoGroupId'
                    "
                    >
                    <!-- <td>{{f1.split(/(?=[A-Z])/).join(" ")}}</td><td>{{f2}}</td> -->
                    <td>{{f1}}</td>

                    <td ng-if="f1 == 'InstrumentType'">
                        <div class="form-group col-md-12 no-margin-y" ng-class="{ 'has-error'     : update_symbol_form.instrument.$invalid && update_symbol_form.instrument.$dirty ,
                                            ''  : !update_symbol_form.instrument.$invalid && update_symbol_form.instrument.$dirty}">
                            <select 
                                name="instrument" 
                                id="" 
                                class="form-control input-sm"
                                ng-change=""
                                ng-model="symbol.instrument"
                                ng-options="instrument.name for instrument in instrumentTypes"
                                required
                            >
                                <option value="">-- Please select --</option>
                            </select>
                        </div>
                    </td>

                    <td ng-if="f1 == 'UnderlyingCcy'">
                        <div class="form-group col-md-12 no-margin-y" ng-class="{ 'has-error'     : update_symbol_form.underlyingCcy.$invalid && update_symbol_form.underlyingCcy.$dirty ,
                                            ''  : !update_symbol_form.underlyingCcy.$invalid && update_symbol_form.underlyingCcy.$dirty}">
                            <select 
                                name="underlyingCcy" 
                                id="" 
                                class="form-control input-sm"
                                ng-change=""
                                ng-model="symbol.underlyingCcy"
                                ng-options="key as value for (key, value) in rates"
                                required
                            >
                                <option value="">-- Please select --</option>
                            </select>
                        </div>
                    </td>

                    <td ng-if="f1 == 'Country'">
                        <div class="form-group col-md-12 no-margin-y" ng-class="{ 'has-error'     : update_symbol_form.country.$invalid && update_symbol_form.country.$dirty ,
                                            ''  : !update_symbol_form.country.$invalid && update_symbol_form.country.$dirty}">
                            <select 
                                name="country" 
                                id="" 
                                class="form-control input-sm"
                                ng-change=""
                                ng-model="symbol.country"
                                ng-options="country.name for country in countries"
                                required
                            >
                                <option value="">-- Please select --</option>
                            </select>
                        </div>
                    </td>
                    <td ng-if="f1 == 'PriceMultiplier'">
                        <div class="form-group col-md-12 no-margin-y" ng-class="{ 'has-error'     : update_symbol_form.priceMultiplier.$invalid && update_symbol_form.priceMultiplier.$dirty ,
                                            ''  : !update_symbol_form.priceMultiplier.$invalid && update_symbol_form.priceMultiplier.$dirty}">
                            <input 
                                type="number"
                                name="priceMultiplier" 
                                id="" 
                                class="form-control input-sm"
                                ng-change=""
                                ng-model="symbol.priceMultiplier"
                                required
                                placeholder="00.01-99.99"
                                ng-pattern="/^(?=.*[1-9])\d{0,2}(?:\.\d{0,2})?$/"
                            >
                        </div>
                    </td>
                    <td ng-if="f1 == 'TradingInstrumentGroupName'">
                        <div class="form-group col-md-12 no-margin-y" ng-class="{ 'has-error'     : update_symbol_form.tradingInstrumentGroupName.$invalid && update_symbol_form.tradingInstrumentGroupName.$dirty ,
                                            ''  : !update_symbol_form.tradingInstrumentGroupName.$invalid && update_symbol_form.tradingInstrumentGroupName.$dirty}">
                            <select 
                                name="tradingInstrumentGroupName" 
                                id="" 
                                class="form-control input-sm"
                                ng-change=""
                                ng-model="symbol.tradingInstrumentGroupName"
                                ng-options="group.Name for group in groupsData"
                                required
                            >
                                <option value="">-- Please select --</option>
                            </select>
                        </div>
                    </td>

                    
                    <td
                        ng-if="
                            f1 != 'InstrumentType' &&
                            f1 != 'UnderlyingCcy' &&
                            f1 != 'Country' &&
                            f1 != 'PriceMultiplier' &&
                            f1 != 'TradingInstrumentGroupName'
                        "
                        >
                        {{f2}}
                    </td>

                </tr>
            </table>
        </div>

        <div class="clearfix"></div>

    </div>
    <div class="modal-footer">
        
            <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
            <button class="btn btn-success" type="submit" ng-disabled="update_symbol_form.$invalid || isProcessing">
                <i class="fa fa-spinner fa-spin" ng-show="isProcessing"></i>
                <strong>Save changes</strong>
            </button>
        
    </div>
    </form>
</div>

