<div class="inmodal">
    <div class="modal-header">
        <i class="fa fa-lock modal-icon"></i>
        <h4 class="modal-title">Rights Configuration</h4>
        <!-- <small class="font-bold">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</small> -->
    </div>
    <form role="form" name="user_rights_form" class="form-horizontal" novalidate ng-submit="userRightsForm(user_rights_form)" autocomplete="off">
    <div class="modal-body">
        <input type="hidden" name="id" ng-model="user.id">
        <div class="col-md-5 well">
            <div class="col-md-12">
                <div class="form-group" ng-class="{ 'has-error'     : user_rights_form.name.$invalid && user_rights_form.name.$dirty ,
                                    ''  : !user_rights_form.name.$invalid && user_rights_form.name.$dirty}">
                    <label class="control-label">Username</label> 
                    <input type="text" 
                        name="name" 
                        id="name" 
                        class="form-control"
                        ng-change="" 
                        ng-model="user.UserName"
                        required
                    >
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group" ng-class="{ 'has-error'     : user_rights_form.password.$invalid && user_rights_form.password.$dirty ,
                                    ''  : !user_rights_form.password.$invalid && user_rights_form.password.$dirty}">
                    <label class="control-label">Password</label> 
                    <input type="password" 
                        name="password" 
                        id="password" 
                        class="form-control"
                        ng-change="" 
                        ng-model="user.Password"
                        
                    >
                </div>
            </div>
        </div>
        <div class="col-md-6 pull-right col-xs-12 col-sm-12">
            <div class="form-group ">
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <thead>
                        <tr>
                            <th class="col-md-1"></th>
                            <th>Modules:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key, value) in user.Claims">
                            <td>
                                <input icheck type="checkbox" id="user-{{key}}" class="" ng-model="user.Claims[key]['Allowed']" >
                            </td>
                            <td class="fa-border">
                                <strong>
                                    <label for="user-{{key}}">
                                        {{value.Name}}
                                    </label>
                                </strong>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- <pre ng-bind="user.Claims | json"></pre>   -->
            </div>
        </div>

        <div class="clearfix"></div>
        
        <!-- <input icheck type="checkbox" ng-model="alert.checked" class="" ng-if="alert.alertType == 'deal'"> -->
        <!-- <form class="form-horizontal" name="userForm" accessibleForm ng-submit="submit(userForm, 'container')" novalidate autocomplete="off"> -->
            <!-- <p><strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                remaining essentially unchanged.</p> -->
<!--             <div class="form-group">
                <label>Container's name</label> 
                <input type="text" 
                    name="" 
                    id="" 
                    class="form-control"
                    ng-change="" 
                    ng-model="container.containerName"
                    required
                >
            </div>

            <div class="form-group">
                <label class="control-label">Container's position</label> 
                <select 
                    name="" 
                    id="" 
                    class="form-control"
                    ng-change="" 
                    ng-model="container.sizes"
                    ng-options="size.id as size.name for size in contSizes"
                    required
                >
                    <option value="">-- Please select --</option>
                </select>
            </div> -->
        <!-- </form> -->

        
<!--             <div class="form-group" ng-class="{ 'has-error'     : signup_form.name.$invalid && signup_form.name.$dirty ,
                                ''  : !signup_form.name.$invalid && signup_form.name.$dirty}">
                <label class="control-label">User's Password</label> 
                <input type="text" 
                    name="name" 
                    id="" 
                    class="form-control"
                    ng-change="" 
                    ng-model="widget.name"
                    required
                >
            </div> -->

<!--             <div class="form-group" ng-class="{ 'has-error'     : signup_form.place.$invalid && signup_form.place.$dirty ,
                                ''  : !signup_form.place.$invalid && signup_form.place.$dirty}">
                <label class="control-label">In container</label> 
                <select 
                    name="place" 
                    id="" 
                    class="form-control"
                    ng-change=""
                    ng-model="widget.place"
                    ng-options="container.id as container.name for container in containers"
                    required
                >
                    <option value="">-- Please select --</option>
                </select>
            </div> -->

<!--             <div class="form-group" ng-class="{ 'has-error'     : signup_form.size.$invalid && signup_form.size.$dirty ,
                                ''  : !signup_form.size.$invalid && signup_form.size.$dirty}">
                <label class="control-label">Widget size</label> 
                <select 
                    name="size" 
                    id="" 
                    class="form-control"
                    ng-change=""
                    ng-model="widget.size"
                    ng-options="size.id as size.name for size in widgetSizes"
                    required
                >
                    <option value="">-- Please select --</option>
                </select>
            </div>
            <div class="clearfix"></div> -->



<!--             <div class="row">
                <div class="inbox border-bottom border-left-right">
                    <div class="ibox-title">
                        <h5 class="m-n">Filters:</h5>
                        <div class="ibox-tools">
                            <a href="" class="btn btn-primary btn-xs">Add new Filter</a>
                        </div>
                    </div>
                    <div class="ibox-content ">

                        <div class="project-list">
                            <table class="table table-hover">
                                <tbody>
                                    <tr>
                                        <td class="project-status">
                                            <span class="label label-primary">Active</span>
                                        </td>
                                        <td class="project-title">
                                            <a ui-sref="project_detail">$6^ > $dsa = 1</a>
                                            <br>
                                            <small>Created 14.08.2014</small>
                                        </td>
                                        <td class="project-actions">
                                            <a href="" class="btn btn-white btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                            <a href="" class="btn btn-white btn-xs"><i class="fa fa-trash"></i> Delete </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="project-status">
                                            <span class="label label-default">Not Active</span>
                                        </td>
                                        <td class="project-title">
                                            <a ui-sref="project_detail">askjdlkjaj!ala;lkac%%^&%#@#$@AD > DAsdas >  = sad s#</a>
                                            <br>
                                            <small>Created 14.08.2014</small>
                                        </td>
                                        <td class="project-actions">
                                            <a href="" class="btn btn-white btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                                            <a href="" class="btn btn-white btn-xs"><i class="fa fa-trash"></i> Delete </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group">
                                <label class-"control-label">Validation:</label>
                                <textarea class="form-control" rows="6"> </textarea>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-12">
                                <button class="btn btn-success btn-sm pull-right" type="submit" ng-disabled="signup_form.$invalid"><strong>Save Filter</strong></button>
                            </div>
                        </div>

                    </div>
                </div>
            </div> -->

            <!--             
            <div class="form-group" ng-class="{ 'has-error'     : signup_form.order.$invalid && signup_form.order.$dirty ,
                                ''  : !signup_form.order.$invalid && signup_form.order.$dirty}">
                <label class="control-label">Order</label> 
                <select 
                    name="order" 
                    id="" 
                    class="form-control"
                    ng-change=""
                    ng-model="widget.order"
                    ng-options="order.id as order.name for order in widgetSizes"
                    required
                >
                    <option value="">-- Please select --</option>
                </select>
            </div> 
            -->


<!--             <div class="form-group" ng-class="{ 'has-error'     : signup_form.username.$invalid && signup_form.username.$dirty ,
                                ''  : !signup_form.username.$invalid && signup_form.username.$dirty}">
                <label class="control-label">Name</label>
                <input  
                    type="text" 
                    placeholder="Username" 
                    class="form-control" 
                    name="username" 
                    ng-model="container.username" 
                    ng-minlength="3" 
                    ng-maxlength="20" 
                    required
                >
                <div class="m-t-xs" ng-show="signup_form.username.$invalid && signup_form.username.$dirty">
                    <small class="text-danger" ng-show="signup_form.username.$error.required">Please input a username</small>
                    <small class="text-danger" ng-show="signup_form.username.$error.minlength">Your username is required to be at least 3 characters</small>
                    <small class="text-danger" ng-show="signup_form.username.$error.maxlength">Your username cannot be longer than 20 characters</small>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error'     : signup_form.email.$invalid && signup_form.email.$dirty ,
                                ''  : !signup_form.email.$invalid && signup_form.email.$dirty}">
                <label class="control-label">Email</label>
                <input 
                    type="email" 
                    placeholder="Enter email" 
                    class="form-control" 
                    name="email" 
                    ng-model="container.email"
                    required
                >
                <div class="m-t-xs" ng-show="signup_form.email.$invalid && signup_form.email.$dirty">
                    <small class="text-danger" ng-show="signup_form.email.$error">Please input a valid email address</small>
                </div>
            </div> -->
        
    </div>
    <div class="modal-footer">
        
            <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
            <!-- <button type="button" class="btn btn-primary" type="submit" ng-click="ok()">Save changes</button> -->
            <!-- <button class="btn btn-primary" type="submit" ng-click="">Save changes</button> -->
            <button class="btn btn-success" type="submit" ng-disabled="signup_form.$invalid" usage><strong>Save changes</strong></button>
            <button type="button" class="btn btn-danger pull-left" ng-click="ok()">Delete</button>
        
    </div>
    </form>
</div>

