/*------------------------------------------------------------------
[  ALL RESOURCES  ]
*/

@import "../font-awesome/css/font-awesome.css";
@import "animate.css";
@import "plugins/toastr/toastr.min.css";
@import "bootstrap/less/bootstrap";
@import "LESS/style";
// @import "gridstack.css";
// @import "gridstack-extra.css";


/*------------------------------------------------------------------
[  RESET  ]
*/
.no-margin{
	margin: 0px !important;
}
.no-margin-x{
	margin-left: 0px !important;
	margin-right: 0px !important;
}
.no-margin-y{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.no-padding{
	padding: 0px !important;
}
.no-padding-x{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.no-padding-y{
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.m-t-hlg{
	margin-top: 25px;
}
// input.ng-invalid.ng-dirty {
//     border: 1px solid red;
// }
// button.ng-invalid.ng-dirty {
//     border: 1px solid red;
// }
// input.ng-valid.ng-dirty {
//     border: 1px solid green;
// }

/*------------------------------------------------------------------
[  VERTICAL-A Middle  ]
*/
.v-a-m{
	vertical-align: middle !important;
}

/*------------------------------------------------------------------
[  RICS v1.0  ]
*/

.default-bg-messages{
	width: 390px;
	height: 100px;
	position: absolute;
	top: 10%;
	left: 0;
	z-index: -1;
	right: 0;
	text-align: center;
	margin: 0 auto;
	font-size: x-large;
	font-weight: 400;
	color: #d4d4d4;
}
.default-messages-overlap{
	&:extend(.default-bg-messages);
	width: 100%;
	height: 100%;
	padding: 10px;
	z-index: 1;
}

/*------------------------------------------------------------------
[  MOBILE  ]
*/
body.mobile{
	#dashboardMobile {
		.tabs-container .panel-body{
			padding: 0px;
			background-color: transparent;
			border: none;
			&.highlight{
				background-color: transparent !important;
				.grid-stack-item > .grid-stack-item-content{
					
				    -webkit-animation-name: pulse;
				    animation-name: pulse;
					

					@-webkit-keyframes pulse {
					    0% {
					        -webkit-transform: scale(1);
					        transform: scale(1);
					    }

					    50% {
					        -webkit-transform: scale(0.95);
					        transform: scale(0.95);
					    }

					    100% {
					        -webkit-transform: scale(1);
					        transform: scale(1);
					    }
					}

					@keyframes pulse {
					    0% {
					        -webkit-transform: scale(1);
					        -ms-transform: scale(1);
					        transform: scale(1);
					    }

					    50% {
					        -webkit-transform: scale(0.95);
					        -ms-transform: scale(0.95);
					        transform: scale(0.95);
					    }

					    100% {
					        -webkit-transform: scale(1);
					        -ms-transform: scale(1);
					        transform: scale(1);
					    }
					}

				    -webkit-animation-duration: 1s;
				    animation-duration: 1s;
				    -webkit-animation-fill-mode: both;
				    animation-fill-mode: both;

				    -webkit-animation-iteration-count: infinite;
				    animation-iteration-count: infinite;
					
				}
				
			}
		}
	}
	.daterangepicker {
		.calendar, .ranges{
			width: 100%;
		}
	}
	.ibox{
	    border: 1px solid #d8d8d8;
	    // .box-shadow(0px 0px 7px 0px rgba(0,0,0,0.2));
	    .box-shadow(0px 4px 7px 0px rgba(0, 0, 0, 0.2));
	    .border-radius(15px);
	}
	.ibox-title{
		.border-radius(15px 15px 0 0 );
	}
	.ibox-content{
		padding: 15px 10px 15px 15px;
		.border-radius(0 0 15px 15px);
		// border-radius:  0 0 15px 15px;
	}

	.form-control, .ag-floating-filter-input {
		-webkit-appearance: none !important;
	}

	.ag-floating-filter-input{
		margin-top: 5px !important;
		border : 1px solid #e5e6e7 !important;
		.border-radius(0px);
		font-size: 11px;
		line-height: 11px;
		color: #797979;
		padding: 0 5px;
	}
}


/*------------------------------------------------------------------
[  DASHBOARD  ]
*/

.tabs-container{
	.nav-tabs > li{
		&.highlight >a{
			background-color: transparent !important;
		}
			.btn.remove,.btn.edit{
				display: none;
			}
		&.active:hover{
			.btn.edit{
				right: 22px;
				top: -22px;
				.border-radius(4px 0 0 0);
			}.btn.remove{
				// border: 1px solid red;
				right: 0px;
				top: -22px;
				.border-radius(0 4px 0 0);
			}
			.btn.remove,.btn.edit{
				display: block;
				width: 22px;
				position: absolute;
				i {
					margin-right: 0px;
				}
			}
		}
	}
}

.connectPanels{
	border: 1px dashed transparent;
	margin: 0px 0;
	position: relative;
	min-height: 200px;
}
.highlight{
	    // border: 1px dashed #f8ac59;
	    // background-color: #f8ac59;
	    background-color: #fff0e0 !important;

		.grid-stack-item > .grid-stack-item-content{
			// .ibox-title{
			// 	cursor: move;
			// }
	    	.box-shadow(none);
		}
}
.draggable-widget{
	
	&.draggable-widget-x2{
		width: 50%;
	}

	&:hover{
		border-color: hsla(0, 0%, 100%, 0.5);
		cursor: move;
	}

	.box-sizing(border-box);
	.ibox{
		// margin-top: 5px !important;
		// margin-bottom: 5px !important;
		// padding: 10px 0px;
	}
	/* jQuery UI Draggable adds ui-draggable-dragging */
	&.is-dragging,
	/* Packery adds class while transitioning to drop position */
	&.is-positioning-post-drag {
	  z-index: 2; /* keep dragged item on top */
	}
}

highchart {
  display: block;
  width: 100%;
  max-width: 100%;
}

.chart-container{
  position: relative;
  // margin: auto;
  height: 100%;
  height: 300px !important;
  // width: 80%;

	// display: flex;
	// flex-direction: column;
	// flex-grow: 1;
	// min-width:80%;
}

.widget-loader {
	position: absolute;
	width: 100%;
	height: 100%;
	height: ~"calc(100% - 50px)";
	// border: 1px solid red;
	top: 50px;
	left: 0px;

	div[class^="sk-"]{
		position: absolute;
		top: ~"calc(50% - 15px)";
		left: ~"calc(50% - 15px)";
	}
}

.widget-wdatatable{
	position:absolute;
	height: ~"calc(100% - 49px)";
	top: 49px;
	width:100%;
	left:0px;
}

// .packery-drop-placeholder {
//   outline: 3px dashed #444;
//   outline-offset: -6px;
//   transition position changing
//   -webkit-transition: -webkit-transform 0.2s;
//           transition: transform 0.2s;
// }
// 
/*------------------------------------------------------------------
[  DASHBOARD WIDGETS  ]
*/

/*------------------------------------------------------------------
[  GRIDSTACK  ]
*/

.grid-stack.grid-stack-animate, 
.grid-stack.grid-stack-animate{
	.grid-stack-item{
		cursor: default;	
		.ibox-title{
			cursor: default;		
		}

	}
}

.grid-stack-item-content {
    color: #2c3e50;
    background-color: #fff;
    .border-radius(5px);
	&.red-bg{
		&:extend(.red-bg);
		.ibox-title,.ibox-content{
			background-color: @red;
			border-color: transparent;
		}
	}
	&.navy-bg{
		&:extend(.navy-bg);
		.ibox-title,.ibox-content{
			background-color: @navy;
			border-color: transparent;
		}
	}
	

    border: 1px solid #d8d8d8;
    .box-shadow(0px 0px 7px 0px rgba(0,0,0,0.2));
    cursor: default;
}

.grid-stack > .grid-stack-item > .grid-stack-item-content{
	bottom: auto;
	overflow-y: hidden !important;
	// display: hidden;
	.ibox-content{
		height: 100%;
	}
	.ibox-title{
		h5{
			// max-width: 285px;
			.text-overflow();
			height: 20px;
			// width: 70%;
			width: 70%;
			// width: 85%;
		}
		border-color: transparent !important;
		.label{
			float: none !important;
		}
		.warning-count{
			display: none;
		}
		.ibox-tools a:hover{color:#000;}
		
	}
	&:hover .warning-count{
		display: inline;
		position: absolute;
	    right: -16px;
	    top: -18px;
	}
}



/*------------------------------------------------------------------
[  TOAST  ]
*/

#toast-container > .toast-warning:before {
  content: "\f0e7";
  content: "\f155";
}
#toast-container > .toast-error:before {
  content: "\f071";
}
#toast-container > .toast-info:before {
  content: "\f0f2";
}

// Custom classes for toast
#toast-container >{
	.zero-error{
		background-color : @red;
		&:before{ content: "\f071" !important; }
	}
	.zero-info{
		background-color : @lazur;
		&:before{ content: "\f05a" !important; }
	}
	.zero-warning{
		background-color : @yellow;
		&:before{ content: "\f0f3" !important; }
	}
	.zero-success{
		background-color : @blue;
		&:before{ content: "\f00c" !important; }
	}
}

.fa.bko-price:before {
  content: "\f155";
}
.fa.bko-deal:before {
  content: "\f2b5";
}
.fa.bko-order:before {
  content: "\f0f2";
}

// Basic Colors
@navy: #1ab394;       // Primary color
@dark-gray: #c2c2c2;  // Default color
@blue: #1c84c6;       // Success color
@lazur: #23c6c8;      // Info color
@yellow: #f8ac59;     // Warrning color
@red: #ED5565;        // Danger color

@hit-records-bg-danger 	: @red;
@hit-records-bg-warning : @yellow;
@hit-records-bg-success : @blue;
@hit-records-size 		: 10px;
.hit-records{
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 @hit-records-size @hit-records-size 0;
	line-height: 0px;
	position: absolute;
	top:0px;
	right:0px;
	cursor: pointer;
	display: block;
	&.cr,&.ct{
		border-color: transparent @hit-records-bg-success transparent transparent;
		_border-color: #000000 @hit-records-bg-success #000000 #000000; 
		_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
		display: block;
	}
	&.hr,&.pr{
		border-color: transparent @hit-records-bg-warning transparent transparent;
		_border-color: #000000 @hit-records-bg-warning #000000 #000000; 
		_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
		display: block;
	}
	&.dor,&.dis{
		border-color: transparent @hit-records-bg-danger transparent transparent;
		_border-color: #000000 @hit-records-bg-danger  #000000 #000000; 
		_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
		display: block;
	}
}


/*------------------------------------------------------------------
[  SCROLL GROUPS  ]
*/
.groups-scroll{
    max-height: 301px;
    float: left;
    // width: 100%;
    overflow: auto;
    min-height: 50px;
    clear: none;
}

/*------------------------------------------------------------------
[  Filters  ]
*/
.label-filter{
	position: absolute;
    top: 10px;
    top: -18px;
    left: -14px;
    width: 22px;
    height: 22px;
    padding: 5px 4px;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
}

.monitor-alerts{
	border: 1px solid #d0d0d0;
	padding-top: 20px;
	&:hover{
	    border: 1px solid #f9f9f9;
	    background-color: #f9f9f9;
	    
	    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.3);
	};
}

/*------------------------------------------------------------------
[  iCHECKS CUSTOM  ]
*/
.form-group.checks{
	float: left;
	position: relative;


	.wrap-label{
		position: absolute;
		left: 0px;
		top: 0px;
		width: 22px;
		height: 22px;
		border: 1px solid grey;
		
		cursor: pointer;
	}

	.control-label{
		margin-left: 25px;
		line-height: 23px;
	} 

	.form-control{
		display: none;
	}

	.form-control + .marker{
		position: absolute;
		left: 0px;
		top: 0px;
		width: 20px;
		height: 20px;	
		
	}

	.form-control + .marker:hover{
		border: 2px solid #1fb394 !important;
	}

	.form-control:checked + .marker{
		&:before{
			content: "\f00c";
			position: absolute;
			left: 3px;
			top: 3px;
			width: 10px;
			height: 10px;
			color: #fff;
		}
		border: 1px solid #338E7B !important;
		background-color: #338E7B;
		// border: 1px solid #1fb394;
	    display: inline-block;
	    font: normal normal normal 14px/1 FontAwesome;
	    font-size: inherit;
	    text-rendering: auto;
	    -webkit-font-smoothing: antialiased;
	}
}

// Custom switch
.switch{
	label {
		margin-bottom: 0px;
	}
}

/*------------------------------------------------------------------
[  ACCOUNT TYPES  ]
*/

.tree-type{
	div{
		&:before{
			border-left: 1px solid #999;
		    bottom: 50px;
		    height: 100%;
		    top: -4px;
		    width: 1px;
		    height: 20px;
		}
		&:after{
			border-top: 1px solid #999;
		    height: 20px;
		    top: 15px;
		    width: 25px;
		}
		&::before,&::after{
		    content: '';
		    left: 7px;
		    position: absolute;
		    right: auto;
		}
	}
}

/*------------------------------------------------------------------
[  FORM HORIZONTAL  ]
*/
.form-horizontal {
	.control-label.text-left{
		text-align: left !important;
	}
}


/*------------------------------------------------------------------
[  CLIENT PROFILES  ]
*/
@typeaheadHeight : 650px;
#clientLogin + .dropdown-menu {
    width: 100%;
	max-height: @typeaheadHeight;
    overflow-y: auto;
}    

[uib-typeahead-popup].dropdown-menu {
	max-height: @typeaheadHeight;
    overflow-y: auto;
}

.widget-wdatatable .ag-row-selected {
  background-color: #08c !important;
  color: white !important;
  	.btn-default{
  		color: #333;
  	}
}

.ag-theme-balham .ag-cell-focus {
  border: 1px solid #08c !important;
}
.highcharts-pie-series .highcharts-point {
  stroke: #EDE;
  stroke-width: 2px;
}
.highcharts-pie-series .highcharts-data-label-connector {
  /*stroke: silver;*/
  stroke-dasharray: 2, 2;
  stroke-width: 2px;
}


.clientProfiles{
	.form-control[readonly]{
		background-color: transparent !important;
	}
	.flatpickr-input{
		// font-size: 1rem;
	}
}

.flatpickr-weekdays{
	height: 35px !important;
}