<!-- Wrapper-->
<div id="wrapper">

    <!-- Navigation -->
    <div ng-include="'views/common/navigation.html'" ng-if="loggedin"></div>

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->

    <div id="page-wrapper" class="gray-bg {{$state.current.name}}" ng-class="{'m-n': $state.current.name == 'index.login'}">

        <!-- Page wrapper -->
        <div ng-include="'views/common/topnavbar.html'" ng-if="loggedin"></div>

        <!-- Main view  -->
        <div ui-view></div>

        <!-- Footer -->
        <div ng-include="'views/common/footer.html'" ng-if="loggedin"></div>

    </div>
    <!-- End page wrapper-->

</div>
<!-- End wrapper-->