<nav class="navbar-default navbar-static-side" role="navigation" navbar>
    <div class="sidebar-collapse">
        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="profile-element" uib-dropdown>
                    <a uib-dropdown-toggle href>
                            <!-- <span class="clear"> -->
                                <span class="block">RICS</span>
                                <span class="block m-t-xs">
                                    Welcome&nbsp;<strong class="font-bold">{{main.userName}}</strong>
                                </span>
                                <!-- <span class="text-muted text-xs block">Example menu<b class="caret"></b></span> -->
                            <!-- </span> -->
                    </a>
                    <ul uib-dropdown-menu="" class="animated fadeInRight m-t-xs">
                        <li><a ui-sref="index.login">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    <!-- IN+ -->
                </div>

            </li>

            <!-- <li ui-sref-active="active">
                <a ui-sref="index.main"><i class="fa fa-laptop"></i> <span class="nav-label">Main page</span> </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.minor"><i class="fa fa-desktop"></i> <span class="nav-label">Minor page</span></a>
            </li> -->
            <li ui-sref-active="active" class="hidden">
                <a ui-sref="index.login">Login</a>
            </li>
            <li ui-sref-active="active" ng-if="!ENV.mobile">
                <a ui-sref="index.register">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                    <span class="nav-label">Create User</span> 
                </a>
            </li>
            <li ui-sref-active="active" ng-if="!ENV.mobile">
                <a ui-sref="index.changePassword">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                    <span class="nav-label">Change Password</span> 
                </a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="index.clientProfiles">
                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                    <span class="nav-label">Client Profiles</span> 
                </a>
            </li>
            <li ui-sref-active="active" ng-if="ENV.mobile">
                <a ui-sref="index.dashboardMobile">
                    <i class="fa fa-laptop"></i> 
                    <span class="nav-label">Dashboard</span> 
                </a>
            </li>
            <li ui-sref-active="active" ng-class="{active: $state.includes('index.
            dashboardWidgetConfiguration')}" ng-if="!ENV.mobile">
            <!-- ng-if="!ENV.mobile" -->
                <a ui-sref="index.dashboard">
                    <i class="fa fa-laptop"></i> 
                    <span class="nav-label">Dashboard 1</span> 
                    <!-- <span  class="pull-right">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                    </span> -->
                </a>
            </li>
<!--             <div ng-repeat="feature in module.features" repeat-loader >
                <li class="{{feature.class}}">
                    <a ng-href="{{feature.url}}" target="{{ feature.config.blank ? '_blank' : '_self' }}" tooltip="{{feature.tooltip}}" tooltip-placement="top" ng-click="closeOnClick()">{{feature.title}}</a>
                </li>
            </div> -->
            <!-- <li ui-sref-active="active">
                <a ui-sref="index.alerts">
                    <i class="fa fa-bell-o"></i> 
                    <span class="nav-label">Alerts</span>
                    <span class="label label-warning pull-right">1624</span>
                </a>
            </li> -->
            <li ng-class="{active: $state.includes('alerts')}" ng-if="!ENV.mobile">
                <a href="#">
                    <i class="fa fa-bell-o"></i> 
                    <span class="nav-label">Alerts</span>
                    <span class="fa arrow"></span>
                    <!-- <span class="label label-warning">1624</span> -->
                </a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('alerts')}">
                    <li ui-sref-active="active"><a ui-sref="alerts.active">Active</a></li>
                    <li ui-sref-active="active"><a >History</a></li>
                    <!-- <li ui-sref-active="active"><a ui-sref="alerts.history">Data Tables</a></li> -->
                    <!-- <li ui-sref-active="active"><a ui-sref="alerts.history">Data Tables</a></li> -->
                </ul>
            </li>

            <li ng-class="{active: $state.includes('management')}" ng-if="!ENV.mobile">
                <a href="#">
                    <i class="fa fa-cog"></i> 
                    <span class="nav-label">Management</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" ng-class="{in: $state.includes('management')}">
                    <li ui-sref-active="active"><a ui-sref="management.users">Users</a></li>
                    <li ui-sref-active="active"><a ui-sref="management.symbols">Symbols</a></li>
                    <li ui-sref-active="active" ng-class="{active: $state.includes('management.accountTypesConfiguration')}"><a ui-sref="management.accountTypes">Account Types</a></li>
                    <li ui-sref-active="active" ng-class="{active: $state.includes('management.alertConfiguration')}"><a ui-sref="management.alerts">Alerts</a></li>
                    <li ui-sref-active="active"><a >Configuration History</a></li>
                </ul>
            </li>
        </ul>

    </div>
</nav>