<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5>Monthly income</h5>
        <div class="ibox-tools">
            <span class="label label-primary">Updated 12.2015</span>
            <div class="ibox-tools dropdown" uib-dropdown="">
                <a ng-click="showhide()"> <i class="fa fa-chevron-up"></i></a>
                <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-wrench"></i>
                </a>
                <ul uib-dropdown-menu="" class="dropdown-menu">
                    <li><a href="">Edit</a></li>
                </ul>
                <a ng-click="removeWidget(w)"><i class="fa fa-times"></i></a>
            </div>
        </div>
    </div>
    <div class="ibox-content no-padding" ng-controller="widgetFlotChart as chart">
        <div class="flot-chart m-t-lg" style="height: 55px;">
            <div flot class="flot-chart-content" dataset="chart.flotChartData1" options="chart.flotChartOptions1"></div>
        </div>
    </div>
</div>