<div>
    <div class="ibox-title">
        <h5>{{w.Id}}-{{w.Title}}</h5>
        <div class="ibox-tools dropdown" uib-dropdown="" ng-if="!w.mobile">
            <span class="label label-danger warning-count">{{w.WarningsCount}}</span>
            <a ng-click="getWidgetSnapshot(w.Id)">
                <i class="fa fa-download" aria-hidden="true"></i>
            </a>
            <a ui-sref="index.dashboardWidgetConfiguration({id: w.Id})">
                <i class="fa fa-wrench"></i>
            </a>
            <a ng-click="removeWidget(w)"><i class="fa fa-times"></i></a>
        </div>
    </div>
    <div class="ibox-content zoomIn animated">
        <!-- Is Enabled -->
        <div ng-if="w.IsEnabled">
            <div ng-if="w.data.loading">   
                <highchart config="w.data" ng-init="w.inited=w.data"></highchart>
            </div>
        </div>
        <!-- Is Disabled -->
        <div ng-if="!w.IsEnabled" class="default-messages-overlap zoomIn animated">
            <i class="fa fa-ban"></i>
            <p><strong>Disabled</strong></p>
        </div>
    </div>
    <!-- Loading -->
    <div class="widget-loader" ng-if="!w.data.loading && w.IsEnabled" ng-include="'views/widgets/widget-loader.html'">
    </div>
</div>