<div class="ibox-title">
    <!-- <span class="label label-success pull-right">Monthly</span> -->
    <h5>Income</h5>
    <div class="ibox-tools dropdown" uib-dropdown="">
        <a ng-click="showhide()"> <i class="fa fa-chevron-up"></i></a>
        <a href="" uib-dropdown-toggle="" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-wrench"></i>
        </a>
        <ul uib-dropdown-menu="" class="dropdown-menu">
            <li><a href="">Edit</a></li>
        </ul>
        <a ng-click="removeWidget(w)"><i class="fa fa-times"></i></a>
    </div>
</div>
<div class="ibox-content">
    <h1 class="no-margins">40 886,200</h1>
    <div class="stat-percent font-bold text-success">98% <i class="fa fa-bolt"></i></div>
    <small>Total income</small>
</div>