<div ng-controller="accountTypes">
	<div class="row wrapper border-bottom white-bg page-heading">
	    <div class="col-lg-10">
	        <h2>Configuration</h2>
	        <ol class="breadcrumb">
	            <li>
	                <a href="index.html">Home</a>
	            </li>
	            <li>
	                <a>Management</a>
	            </li>
	            <li class="active">
	                <strong>Account Types</strong>
	            </li>
	        </ol>
	    </div>
	</div>
	<div class="wrapper wrapper-content animated fadeInRight">
	    <div class="row">
	        <div class="col-lg-12">
		        <div class="ibox-content forum-container">

			        <div class="forum-title">
			            <div class="pull-right forum-desc">
			                <samll>Total account types: {{accountTypesNumber}}</samll>
			            </div>
			            <h3>All Account Types</h3>
			        </div>

			        <hr class="hr-line-dashed">

					<div class="search-form">
                        
                        <div class="control-group">
                            <input 
                            	type="text" 
                            	placeholder="Search for account type"
                            	class="form-control input-lg"
                            	ng-model="selectedAccountType"
                            	ng-model-options="modelOptions"
                            	name="searchAccountType"
                            	usage
                            >

                        </div>

                    </div>
					<!-- All Account Types -->
			        <div class="forum-item" ng-class="{active : field.IsEnabled}" ng-repeat="field in accountTypes | filter: selectedAccountType ">
			            <div class="row">
			                <div class="col-md-12 tree-type">
			                    <!-- Title -->
			                    <a ui-sref="management.accountTypesConfiguration({id: field.Id})" class="forum-item-title" 
			                    usage>
			                    	<i class="fa fa-cog"></i>&nbsp;{{field.Title}}
			                    </a>
								<div class="col-md-12">
				                    <!-- Rules -->
				                    <div class="m-t-xs p-w-md">
				                    	<strong>Rules Description:</strong>&nbsp;{{field.RulesDescription}}
				                    </div>
				                </div>
			                </div>
			            </div>
			        </div>
		        </div>
	        </div>
	    </div>
	</div>


</div>
