
<!-- Controller Alerts -->
<!-- <div ng-controller="alerts">
  
    <div class="row wrapper animated fadeInRight">

		<div class="row border-bottom white-bg page-heading m-b-lg m-t-lg">

	        <div class="m-t-lg">
	            <div class="col-md-12">
	                <div class="col-md-4">

	                    <div class="profile-info no-margins">
	                        <div class="">
	                            <div>
	                                <h2 class="no-margins">
	                                    Alerts
	                                </h2>
	                                <h4>Founder of Groupeq</h4>
	                                
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                
	                <div class="col-md-8 text-right">
	                    <button type="button" class="btn btn-warning" ng-click="destroyDraggable('.connectPanels')">
	                        <i class="fa fa-arrows-alt"></i>&nbsp;Order Widgets</a>
	                    </button>
	                    <button class="btn btn-primary" ng-click="openConfigWidget('lg')"><i class="fa fa-bar-chart"></i>&nbsp;Add Widget</button>
	                    <button class="btn btn-primary" ng-click="openConfig()"><i class="fa fa-plus"></i>&nbsp;Add New Container</button>
	                    <a class="btn btn-primary" ng-click="addWidget($event)" href="#">Add Widget( test )</a>
	                    <button class="btn btn-primary"  ng-click="serialize()" type="button">Save Widget( test )</button>
	                
	                </div>
	            </div>
	        </div>
	    </div>




    </div>
</div> -->

<div ng-controller="alerts">
	<div class="row wrapper border-bottom white-bg page-heading">
	    <div class="col-lg-10">
	        <h2>Alerts</h2>
	        <ol class="breadcrumb">
	            <li>
	                <a href="index.html">Home</a>
	            </li>
	            <li>
	                <a>App views</a>
	            </li>
	            <li class="active">
	                <strong>Issue Tracker</strong>
	            </li>
	        </ol>
	    </div>
	    <div class="col-lg-2">

	    </div>
	</div>
	<div class="wrapper wrapper-content  animated fadeInRight">
	    <div class="row">
	        <div class="col-lg-12">
	            <div class="ibox">
	                <div class="ibox-title">
	                    <h5>Issue list</h5>
	                    <div class="ibox-tools">
	                    </div>
	                </div>
	                <div class="ibox-content">

<!-- 	                    <div class="m-b-lg row">

	                    	<div class="col-md-12">

		                        <div class="input-group">
		                            <input type="text" placeholder="Search issue by name..." class=" form-control">
		                                    <span class="input-group-btn">
		                                        <button type="button" class="btn btn-white"> Search</button>
		                                    </span>
		                        </div>
		                        <div class="m-t-md">

		                            <div class="pull-right">
		                                <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-comments"></i> </button>
		                                <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-user"></i> </button>
		                                <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-list"></i> </button>
		                                <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-pencil"></i> </button>
		                                <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-print"></i> </button>
		                                <button type="button" class="btn btn-sm btn-white"> <i class="fa fa-cogs"></i> </button>
		                            </div>

		                            
		                            
		                        </div>

	                        </div>

	                    </div>
 -->
					    <div class="row">
					        <div class="col-lg-12">
					            <div class="ibox float-e-margins">
					                <!-- <div class="ibox-title">
					                    <h5>Table with Alerts $scope</strong></h5>

					                    <div ibox-tools></div>
					                </div> -->
					                <!-- <div class="ibox-content"> -->
					                    <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs"  class="table table-striped table-bordered table-hover dataTables-example table-condensed">
					                        <thead>
					                        <tr>
					                            <!-- <th>ID</th>
					                            <th>FirstName</th>
					                            <th>LastName</th> -->
			                        			<th></th>
			                        			<th>Level</th>
			                        			<th>Type</th>
			                        			<th>Title</th>
			                        			<th>Ack By</th>
			                        			<th>Note</th>
			                        			<th>Duration</th>
			                        			<th >Created at</th>
					                        </tr>
					                        </thead>
					                        <tbody>
					                        
				                            <tr ng-repeat="alert in alertsData">
												<td style="position:relative">
													<input icheck type="checkbox" ng-model="alert.checked" class="" ng-if="alert.alertType == 'deal'">
												</td>
				                                <td style="position:relative">
				                                    <span class="label m-t-xs fa-border col-md-12" ng-class="{'label-danger':alert.status == 'high','label-warning':alert.status == 'middle','label-info' : alert.status == 'low'}">{{alert.status}}</span>
				                                </td>
				                                <td class="text-center fa-border">
				                                	<i class="fa bko-{{alert.alertType}} fa-2x fa-fw m-t-xs"></i><small class="text-muted"><br>({{alert.alertType}})</small>
				                                </td>
				                                <td class="issue-info">
				                                    <a href="#">
				                                        {{alert.title}}
				                                    </a>
				                                    <small>
				                                        {{alert.desc}}
				                                    </small>
				                                </td>
				                                <td>
				                                    {{alert.ackBy}}
				                                </td>
				                                <td>
				                                	&nbsp;
				                                    <!-- <textarea>{{alert.note}}</textarea> -->
				                                </td>
				                                <td>
				                                    <pie-chart data="PieChart3.data" options="PieChart3.options"></pie-chart>
				                                </td>
				                                <td>
				                                    {{alert.createdAt}}
				                                </td>
				                            </tr>
					                        </tbody>
					                    </table>


					                <!-- </div> -->
					            </div>
					        </div>
					    </div>


	                </div>

	            </div>
	        </div>
	    </div>
	</div>
</div>