
<!-- Controller Register -->
<div ng-controller="changePassword">

    <!-- Wrapper -->
    <!-- <div class="wrapper wrapper-content  animated fadeInRight"> -->
    <div class="middle-box loginscreen  animated fadeInDown text-center">

        <div class="alert alert-danger col-md-12 tAM" role="alert" ng-show="errorLogin">
            Wrong passwords
        </div>

        <div class="clearfix"></div>
        <div>
            <h3>Change your password</h3>
            
            <form class="m-t" ng-submit="submit(form)" name="form">
                <!-- <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name" name="username" required ng-model="register.username">
                </div> -->
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Old Password" name="oldPassword" required ng-model="register.oldPassword" usage>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="New Password" name="newPassword" required ng-model="register.newPassword" usage>
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b" usage>Change</button>

                <!-- <p class="text-muted text-center"><small>Already have an account?</small></p>
                <a class="btn btn-sm btn-white btn-block" ui-sref="index.login">Login</a> -->
            </form>
        </div>

    </div>
</div>