<script type="text/ng-template" id="customTemplate.html">
    
  <a tabindex="-1" class="border-bottom custom-popup-wrapper" style="display: block;" id="zoro" usage>
    
    <span>Client:&nbsp;</span><span ng-bind-html="match.label | uibTypeaheadHighlight:query"></span>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class="pull-right">Trading Platform: <strong>{{match.model.TradingPlatform}}</strong> </span>
    <p><strong>{{match.model.DisplayName}}</strong></p>
  </a>
  
</script>

<div ng-controller="clientProfiles" class="clientProfiles">

    <!-- Wrapper -->
    <div class="wrapper wrapper-content animated fadeInRight">
        <form role="form" name="form" class="form-horizontal" novalidate autocomplete="off" ng-submit='submitForm()'>
            <div class="row">

                <!-- Search panel -->
                <div class="col-lg-6 bounceInLeft animated">
                    <div class="col-lg-12 ibox">
                        <div class="ibox-title">
                            <h5>Search for client profile:</h5>
                        </div>
                        <div class="ibox-content">

                            <div class="col-md-12">
                                
                                <div 
                                    class="form-group m-b-none"
                                    ng-class="{ 'has-error' : 
                                                    form['client'].$invalid && 
                                                    form['client'].$dirty , 
                                                ''  : 
                                                    !form['client'].$invalid && 
                                                    form['client'].$dirty || form['client'].$pristine }"

                                >
                                    <div class="input-group">

                                        <input 
                                            type="text" 
                                            id="clientLogin"
                                            name='client'
                                            placeholder="Client Login Number"

                                            class="form-control input-"

                                            ng-model="clientProfile"                                        
                                            uib-typeahead="client as client.Login for client in searchClientProfile($viewValue)"
                                            
                                            typeahead-on-select = "selectClient($item, $model, $label, $event, 'client')"
                                            
                                            typeahead-template-url="customTemplate.html"
                                            typeahead-min-length="1"
                                            typeahead-wait-ms="500"
                                            minlength="1"
                                            typeahead-append-to-body="true"
                                            required
                                            usage
                                            
                                        >

                                        <div class="input-group-btn">
                                            <button class="btn btn- btn-primary" 
                                                type="button" 

                                                ng-class="{ 
                                                            'btn-danger' : 
                                                                form['client'].$invalid && 
                                                                form['client'].$dirty , 
                                                            'btn-primary'  : 
                                                                !form['client'].$invalid && 
                                                                form['client'].$dirty || form['client'].$pristine }"
                                                ng-click="submitClientProfile('client')"
                                                ng-disabled="isProcessing || loadingLocations"
                                                usage
                                                >
                                                <i class="fa fa-spinner fa-spin" ng-show="isProcessing || loadingLocations"></i>
                                                <i class="fa fa-search"></i>&nbsp;Search
                                            </button>
                                            <!-- Export to Excel -->
                                            <button class="btn btn-link" 
                                                type="button" 
                                                ng-click="exportExcel($event)"
                                                ng-disabled="isProcessing || !allIsReady"
                                                usage
                                                ng-if="!ENV.mobile"
                                                >
                                                <i class="fa fa-spinner fa-spin" ng-show="isProcessing || loadingLocations"></i>
                                                <i class="fa fa-file-excel-o"></i>&nbsp;&nbsp;Export
                                            </button>
                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="clearfix"></div>
                            
                            <div ng-if="showEmpty && !allIsReady">
                                <hr class="hr-line-dashed">
                            
                                <div class="alert alert-warning">
                                    Nothing Found! Please try with another client number.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Additional top space -->
                <div class="hidden-lg m-t-hlg"></div>

                <!-- Mobile Date Picker Filter -->
                <div class="col-lg-6 bounceInRight animated" ng-if="ENV.mobile && allIsReady">
                    <div class="col-lg-12 ibox">
                        <div class="ibox-title">
                            <h5>Time Date Filter:</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="col-lg-12 input-group">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <ng-flatpickr
                                  fp-opts="dateOpts"
                                  fp-on-setup="datePostSetup({
                                    fpItem: fpItem
                                  })">

                                  <input
                                    name="filteredRange" 
                                    class="text-field__input form-control"
                                    placeholder="Select Range.." usage/>

                                </ng-flatpickr>
                                
                                <!-- Web buttons -->
                                <div class="input-group-btn hidden-xs hidden-sm">
                                    <button class="btn btn- btn-primary" 
                                        type="button" 
                                        ng-click="filterData($event)"
                                        ng-disabled="isProcessing || loadingLocations"
                                        usage
                                        >
                                        <i class="fa fa-spinner fa-spin" ng-show="isProcessing || loadingLocations"></i>
                                        <i class="fa fa-calculator"></i>&nbsp;Calculate
                                    </button>
                                    <button class="btn btn-link" 
                                        type="button" 
                                        ng-click="resetDefault($event)"
                                        ng-disabled="isProcessing || loadingLocations"
                                        usage
                                        >
                                        <i class="fa fa-spinner fa-spin" ng-show="isProcessing || loadingLocations"></i>
                                        <i class="fa fa-trash"></i>&nbsp;Clear
                                    </button>
                                </div>

                            </div>

                            <div class="clearfix"></div>
                            <!-- Responsive buttons -->
                            <div class="visible-xs visible-sm m-t-sm">
                                <button class="btn btn- btn-primary" 
                                    type="button" 
                                    ng-click="filterData($event)"
                                    ng-disabled="isProcessing || loadingLocations"
                                    usage
                                    >
                                    <i class="fa fa-spinner fa-spin" ng-show="isProcessing || loadingLocations"></i>
                                    <i class="fa fa-calculator"></i>&nbsp;Calculate
                                </button>
                                <button class="btn btn-link" 
                                    type="button" 
                                    ng-click="resetDefault($event)"
                                    ng-disabled="isProcessing || loadingLocations"
                                    usage
                                    >
                                    <i class="fa fa-spinner fa-spin" ng-show="isProcessing || loadingLocations"></i>
                                    <i class="fa fa-trash"></i>&nbsp;Clear
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="clearfix" ng-if="ENV.mobile"></div> -->

                <div class="hidden-lg m-t-hlg"></div>

                <!-- Date Picker Filter -->
                <div class="col-lg-6 bounceInRight animated" ng-if="!ENV.mobile && allIsReady">
                    <div class="col-lg-12 ibox">
                        <div class="ibox-title">
                            <h5>Time Date Filter:</h5>
                        </div>
                        <div class="ibox-content">

                                <div class="col-lg-12 input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input 
                                        date-range-picker 
                                        class="form-control date-picker input-" 
                                        type="text"
                                        name="filteredRange" 
                                        
                                        ng-model="filteredRange.Date" 
                                        options="timeFilterConf.daterange" 
                                        usage
                                        
                                        />
                                    <div class="clearfix"></div>
                                    <div class="input-group-btn">
                                        <button class="btn btn- btn-primary" 
                                            type="button" 
                                            ng-click="filterData($event)"
                                            ng-disabled="isProcessing || loadingLocations"
                                            usage
                                            >
                                            <i class="fa fa-spinner fa-spin" ng-show="isProcessing || loadingLocations"></i>
                                            <i class="fa fa-calculator"></i>&nbsp;Calculate
                                        </button>
                                        <button class="btn btn-" 
                                            type="button" 
                                            ng-click="resetDefault($event)"
                                            ng-disabled="isProcessing || loadingLocations"
                                            usage
                                            >
                                            <i class="fa fa-spinner fa-spin" ng-show="isProcessing || loadingLocations"></i>
                                            <i class="fa fa-trash"></i>&nbsp;Clear
                                        </button>
                                    </div>

                                </div>
                                 
                        </div>
                    </div>
                </div>

                <!-- When is ready -->
                <div ng-if="allIsReady">

                    <!-- Linechart Equity Curve m-t-lg-->
                    <div class="col-md-12 bounceInDown animated">
                        <div class="col-lg-12 ibox">
                            <!-- <div> -->
                                <div class="ibox-title">
                                    <h5>Equity Curve</h5>
                                </div>
                                <div class="ibox-content">
                                    <div ng-show="linechart.data.loading">   
                                        <highchart config="linechart.data"></highchart>
                                    </div>
                                    <div ng-show="!linechart.data.loading" ng-include="'views/widgets/widget-no-data.html'">
                                    </div>
                                </div>
                            <!-- </div> -->
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <!-- Additional top space -->
                    <!-- <div class="m-t-hlg"></div> -->

                    <!-- Pie Donut Charts -->
                    <div class="col-md-12 no-padding">

                        <!-- Piechart Deposit Withdrawal -->
                        <div class="col-lg-4 bounceInLeft animated">
                            <div class="ibox">
                                <div class="ibox-title">
                                    <h5>Deposit / Withdrawal</h5>
                                </div>
                                <div class="ibox-content" style="min-height: 60px;">
                                    <div ng-show="piechart.depositWithdrawal.data.loading">   
                                        <highchart config="piechart.depositWithdrawal.data"></highchart>
                                    </div>
                                    <div ng-show="!piechart.depositWithdrawal.data.loading" ng-include="'views/widgets/widget-no-data.html'">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Additional top space -->
                        <div class="hidden-lg m-t-hlg"></div>

                        <!-- Piechart Profit Factor -->
                        <div class="col-lg-4 bounceInUp animated">
                            <div class="ibox">
                                <div class="ibox-title">
                                    <h5>Profit Factor</h5>
                                </div>
                                <div class="ibox-content" style="min-height: 60px;">
                                    <div ng-show="piechart.profitFactor.data.loading">   
                                        <highchart config="piechart.profitFactor.data"></highchart>
                                    </div>
                                    <div ng-show="!piechart.profitFactor.data.loading" ng-include="'views/widgets/widget-no-data.html'">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Additional top space -->
                        <div class="hidden-lg m-t-hlg"></div>

                        <!-- Piechart Win to Lose Ratio -->
                        <div class="col-lg-4 bounceInRight animated">
                            <div class="ibox">
                                <div class="ibox-title">
                                    <h5>Win to Lose Ratio</h5>
                                </div>
                                <div class="ibox-content" style="min-height: 60px;">
                                    <div ng-show="piechart.wintoLoseRatio.data.loading">   
                                        <highchart config="piechart.wintoLoseRatio.data"></highchart>
                                    </div>
                                    <div ng-show="!piechart.wintoLoseRatio.data.loading"  ng-include="'views/widgets/widget-no-data.html'">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="clearfix"></div>

                    <!-- Additional top space -->
                    <!-- <div class="hidden-lg m-t-hlg"></div> -->

                    <!-- Datatable Symbol -->
                    <div class="col-md-12 m-b-md">

                        <!-- Piechart Deposit Withdrawal -->
                        <div class="col-lg-12 no-padding zoomIn animated">
                            <div class="ibox">
                                <div class="ibox-title">
                                    <h5>Symbol's table</h5>
                                </div>
                                <div class="ibox-content" style="width:100%;height:440px;position:relative;" ng-if="datatable.data.loading">

                                    <!-- <div  class="widget-wdatatable" style="top:0px;"> -->
                                    <div  class="widget-wdatatable" style="top:0px;width: 100%; height: 100%;">
                                        <div ag-grid="datatable.data.gridOptions" class="ag-theme-balham" style="width: 100%; height: 100%;"></div>
                                        <div ag-grid="datatable.data.gridTotalOptions" class="ag-theme-balham" style="height: 30px;"></div>
                                        
                                    </div>
                                </div>
                                <div class="ibox-content zoomIn animated" ng-if="!datatable.data.loading"  ng-include="'views/widgets/widget-no-data.html'">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                </div>


            </div>

            <div class="row m-t-lg"></div>

        </form>
    </div>
    

</div>