<div ng-controller="configuration">
	<div class="row wrapper border-bottom white-bg page-heading">
	    <div class="col-lg-10">
	        <h2>Configuration</h2>
	        <ol class="breadcrumb">
	            <li>
	                <a href="index.html">Home</a>
	            </li>
	            <li>
	                <a>Management</a>
	            </li>
	            <li class="active">
	                <strong>Configuration</strong>
	            </li>
	        </ol>
	    </div>
	    <div class="col-lg-2">

	    </div>
	</div>
	<div class="wrapper wrapper-content animated fadeInRight">
	    <div class="row">
	        <div class="col-lg-12">
	            <div class="ibox">
	                <div class="ibox-title">
	                    <h5>{{alert.ConfigurationDetails.Title}}</h5>
	                    <div class="ibox-tools">

	                    </div>
	                </div>
	                <div class="ibox-content">
						<form action="">

						    <div class="row">
						        <div class="col-lg-12">
						        								
						            <div class="ibox float-e-margins no-margins">

										<!-- Configuration Fields -->
										<div class="row">
											<div class="col-md-6" ng-if="field.IsVisible" ng-repeat="field in configFields" ng-switch="type" ng-init="type=fieldType(configFields[$index].Value)">
												<!-- Type Number -->
				                                <div class="form-group" ng-switch-when="number">
				                                	<label for="" class="control-lable">{{field.Label}}</label>
				                                    <input
				                                    	type="{{type}}"
				                                        name="field.Name"
				                                        class="form-control"
				                                        ng-pattern="field.ValidationExpression"
				                                        ng-model="field.Value"
				                                        ng-required
				                                        />
				                                </div>
				                                <!-- Type Text -->
				                                <div class="form-group" ng-switch-when="text">
				                                	<label for="" class="control-lable">{{field.Label}}</label>
				                                    <input
				                                    	type="{{type}}"
				                                        name="field.Name"
				                                        class="form-control"
				                                        ng-pattern="field.ValidationExpression"
				                                        ng-model="field.Value"
				                                        required
				                                        ng-required
				                                        />
				                                </div>
				                                <!-- Type Checkbox -->
									            <div class="switch m-t-md" ng-switch-when="checkbox">
									                <div class="onoffswitch pull-left">
									                    <input 
									                    	type="checkbox" 
									                    	
									                    	ng-model="field.Value"
									                    	class="onoffswitch-checkbox" 
									                    	name="field.Name"
									                    	id="check-{{field.Name}}"
									                    >
									                    <label class="onoffswitch-label" for="check-{{field.Name}}" >
									                        <span class="onoffswitch-inner"></span>
									                        <span class="onoffswitch-switch"></span>
									                    </label>
									                </div>
									                
													<label 
														for="check-{{field.Name}}"
														class="control-label pull-left">&nbsp;&nbsp;&nbsp;{{field.Label}}
													</label>
									            </div>

			                            	</div>

										</div>
										
										<hr class="hr-line-dashed">

										<!-- Filters -->
										<!-- <div class="row" ng-if="alert.IsFilterable">
										</div> -->
		
										<div class="clearfix"></div>

						            </div>
						        </div>
						    </div>

							<div class="clearfix"></div>
							<!-- <pre class="col-md-12">
								{{mapFields | json}}
							</pre> -->
							<h2>Monitor Filters</h2>

							<!-- FILTERS -->
						    <div class="row">
							    <div class="list-group clear-list" ng-if="alert.IsFilterable">

									<div class="ibox float-e-margins no-margins">

				                        <!-- <div ng-repeat="item in definitions" class="col-md-12"> -->
				                        <div ng-repeat="item in definitions" class="list-group-item" ng-class="{'fist-item1' : $index == 0}" style="position:relative;">
											<!-- col-md-31 hidden-sm hidden-xs text-center -->
											<!-- Normal devices -->
		                            		<span class="m-t-xs label-filter label label-primary">{{$index + 1}}</span>

											<!-- Small Devices -->
		                            		<div class="visibile-xs-block hidden-md hidden-lg col-xs-12">
		                            			<button class="btn btn-danger btn-sm pull-right" type="button" ng-click="removeRow($index)">
		                            				<i class="fa fa-trash"></i>
					                                <span>&nbsp;Delete</span>
					                            </button>
					                            <div class="clearfix"></div>
		                            		</div>

									    	<!-- MAIN FILTER -->
									    	<div class="col-md-4 ">
						                        <div class="form-group m-t-sm">
					
						                            <select 
						                                name="row-{{$index}}-filter" 
						                                class="form-control"

						                                ng-model="item.Items.Property.Value"
														
						                                ng-change="fieldsConfigOnChange(
						                                	item.Items.Property.Value,
						                                	$index
						                                )"

						                                ng-options="master.Value.ThisValue as master.Name for master in item.Items.Property.DropDownValues|filter:notBlank"
						                                required
						                            >
						                            </select>
													<!-- <pre class="col-md-12">{{item | json}}</pre> -->
						                        </div>
					                        </div>

											<!-- COMPARER -->
											<div class="col-md-4 ">
												<div class="form-group m-t-sm">
						                            <select 
						                            	ng-if="item.Items.Property.Value"
						                                name="row-{{$index}}-comparer" 
						                                id="" 
						                                class="form-control "

						                                ng-model="item.Items.Comparer[mapFields[item.Items.Property.Value]['Comparer']].Value"

						                                ng-options="item.Items.Comparer[mapFields[item.Items.Property.Value]['Comparer']].DropDownValues.indexOf(master) as master.Name for master in item.Items.Comparer[mapFields[item.Items.Property.Value]['Comparer']].DropDownValues"
						                                required
						                            >
						                                
						                            </select>
												</div>
											</div>

											<!-- TEMPLATE -->
											<div class="col-md-3">
												<div 	
													class="form-group m-t-sm"
													ng-if="item.Items.Property.Value" 
													ng-switch="filters[$index].type"

													ng-init="fieldTypeFromDropdown(item.Items.InputTemplate[mapFields[item.Items.Property.Value]['InputTemplate']].DropDownValues,$index,item.Items.InputTemplate[mapFields[item.Items.Property.Value]['InputTemplate']].DropDownValues[item.Items.InputTemplate[mapFields[item.Items.Property.Value]['InputTemplate']].Value].Name);"
												>

													<!-- Type Select -->
						                            <select 
						                            	
						                            	ng-switch-when="number"
						                                name="row-{{$index}}-template" 
						                                class="form-control"

						                                ng-model="item.Items.InputTemplate[mapFields[item.Items.Property.Value]['InputTemplate']].Value"

						                                ng-change="setOption(
						                                	item.Items.InputTemplate[mapFields[item.Items.Property.Value]['InputTemplate']].DropDownValues[item.Items.InputTemplate[mapFields[item.Items.Property.Value]['InputTemplate']].Value],
						                                	$index										
						                                );"
														
						                                ng-options="item.Items.InputTemplate[mapFields[item.Items.Property.Value]['InputTemplate']].DropDownValues.indexOf(master) as master.Name for master in item.Items.InputTemplate[mapFields[item.Items.Property.Value]['InputTemplate']].DropDownValues "
						                                required
						                            >
						                            </select>

					                                <!-- Type Text -->
				                                    <input
				                                    	type="{{type}}"
				                                    	ng-switch-when="text"
				                                        name="row-{{$index}}-template"
				                                        class="form-control"

				                                        ng-model="item.Items.InputTemplate[mapFields[item.Items.Property.Value]['InputTemplate']].Value"

				                                        ng-pattern="item.Items.InputTemplate[mapFields[item.Items.Property.Value]['InputTemplate']].ValidationExpression"
				                                        
				                                        required
				                                        />
												</div>
											</div>
											<!-- Normal devices Delete -->
											<div class="col-md-1 m-t-sm hidden-xs hidden-sm">
					                            <button class="btn btn-danger btn-block" type="button" ng-click="removeRow($index)">
					                            	<i class="fa fa-trash"></i>
					                                <!-- <span class="hidden-md">&nbsp;Delete</span> -->
					                            </button>
				                            </div>
											<div class="clearfix"></div>

				                        </div>
			                        </div>

								</div>
							</div>

							<div class="clearfix"></div>
							
							<div class="row">
								<div class="col-md-12">
									<button type="button" class="btn btn-primary btn-sm" ng-click="addRow()"><i class="fa fa-plus"></i>&nbsp;Add Row</button>
									<button type="button" class="btn btn-default btn-sm pull-right" ng-click="testFilter()"><i class="fa fa-cog"></i>&nbsp;Test Filter</button>
								</div>

								<hr>
							</div>

							<hr class="hr-line-dashed">

							<div class="clearfix"></div>

							<h3>Add Filter Expression </h3>

							<div class="row">
						        <div class="col-lg-12">
				                    <!-- <uib-accordion close-others="true">
				                        <uib-accordion-group is-open="status.open">
				                            <uib-accordion-heading> -->
				                                
				                                <!-- <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i> -->
				                            <!-- </uib-accordion-heading> -->

				                            <div class="alert alert-info">
												<p>Complex filter expression can be used to make define logical connections between the defined filter rules, by using their IDs (1, 2, 3 and etc.), logical operators (AND, OR) and open and closed brackets.<p>
												<p><strong>Example 1:</strong> 1 AND 2 AND 3 OR 4</p>
												<p><strong>Example 2:</strong> ((1 OR 2) AND (1 OR 3)) OR (1 AND 4)</p>
				                            </div>
				                            
											<div class="search-form">
						                        
					                            <div class="input-group">
					                                <input 
					                                	type="text" 
					                                	placeholder="{{filterExpression.Label}}" 
					                                	name="filter-validate" 
					                                	class="form-control input-lg"
					                                	ng-model="filterExpression.Value"
					                                >

					                                <div class="input-group-btn">
					                                    <button class="btn btn-lg btn-default" type="button">
					                                        <i class="fa fa-check"></i>&nbsp;Validate
					                                    </button>
					                                </div>
					                            </div>

						                    </div>


				                        <!-- </uib-accordion-group>
				                    </uib-accordion> -->
						        </div>
							</div>

							<div class="clearfix"></div>

							<hr class="hr-line-dashed">

							<div class="row">
								<div class="col-md-12">
						            <button type="button" class="btn btn-white" ng-click="clearChanges()">Clear changes</button>
						            <button class="btn btn-success pull-right" type="submit" ng-disabled="update_symbol_form.$invalid || isProcessing">
						                <i class="fa fa-spinner fa-spin" ng-show="isProcessing"></i>
						                <strong>Save changes</strong>
						            </button>
					            </div>
				            </div>

	                        <div class="clearfix"></div>

						</form>
	                </div>

	            </div>
	        </div>
	    </div>
	</div>
</div>