
<!-- Controller Dashboard -->
<div ng-controller="dashboardMobile" id="dashboardMobile">

    <!-- Wrapper -->
    <div class="wrapper wrapper-content animated fadeInRight">

            <div class="row m-b-lg m-t-lg">
                <div class="col-md-12 no-padding">

                    <!-- Profile Info -->
                    <div class="col-md-12">
                        <div class="profile-info no-margins">
                            <div class="">
                                <div class="col-xs-10 no-padding col-sm-10 col-md-9">
                                    <h2 class="no-margins">
                                        Welcome <strong>{{main.userName}}</strong>
                                    </h2>
                                    <h4>(View your Widgets)</h4>
                                </div>

                                <!-- Order -->
                                <button 
                                    type="button" 
                                    class="btn btn-warning pull-right"  
                                    ng-click="destroyDraggable('.connectPanels',activeDashboard)" 
                                    ng-if="showOrderBtn"
                                    id="orderWidgets"
                                    ng-disabled="isProcessing"
                                    usage
                                    >
                                    <i class="fa fa-spinner fa-spin" ng-show="isProcessing"></i>
                                    <i class="fa fa-arrows-alt"></i>
                                    <span class="hidden-xs hidden-sm">&nbsp; Order Widgets</span>
                                </button>

                                <!-- Save -->
                                <button class="btn btn-success pull-right"  
                                    ng-click="serialize(activeDashboard)" 
                                    type="button" 
                                    ng-if="!showOrderBtn"
                                    id="saveWidgets"
                                    ng-disabled="isProcessing"
                                    usage
                                    >
                                    <i class="fa fa-spinner fa-spin" ng-show="isProcessing"></i>
                                    <i class="fa fa-check"></i><span class="hidden-xs hidden-sm">&nbsp; Save Layout </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- Action Buttons -->
                    <div class="col-md-8 text-right hidden">
                        <!-- Save -->
<!--                         <button class="btn btn-success"  
                            ng-click="serialize(activeDashboard)" 
                            type="button" 
                            ng-if="!showOrderBtn"
                            id="saveWidgets"
                            ng-disabled="isProcessing"
                            usage
                            >
                            <i class="fa fa-spinner fa-spin" ng-show="isProcessing"></i>
                            <i class="fa fa-check"></i>&nbsp;Save Layout
                        </button> -->
                        <!-- Add Widget -->
                        <!-- <button 
                            class="btn btn-primary" 
                            ng-click="addNewWidget(activeDashboard)"
                            ng-disabled="isProcessing"
                            usage
                            >
                            <i class="fa fa-spinner fa-spin" ng-show="isProcessing"></i>
                            <i class="fa fa-bar-chart"></i>&nbsp;Add Widget</button> -->
                        <!-- Add Dashboard -->
                        <!-- <button 
                            class="btn btn-primary" 
                            ng-click="addNewDashboard()"
                            ng-disabled="isProcessing"
                            usage
                            >
                            <i class="fa fa-spinner fa-spin" ng-show="isProcessing"></i>
                            <i class="fa fa-dashboard"></i>&nbsp;Add New Dashboard
                        </button> -->
                    </div>
                </div>
            </div>

            <link rel="stylesheet" href="css/gridstack.css"/>
            <link rel="stylesheet" href="css/gridstack-extra.css"/>


            <!-- TABS -->
            <div class="tabs-container" ng-if="dashboards">

                <!-- <uib-tabset justified='true'> -->
                <uib-tabset vertical="true" type="pills">
                    <uib-tab ng-repeat="d in dashboards" index="{{d.Id}}" active="d.active" disable="d.disabled" ng-if="loadTabs" select="subscribeMe(d.Id)" class="{{d.toggleDrag && !d.disabled && d.active ? 'highlight':''}} hidden" usage="Dashboard - {{d.Name}}">
                        <uib-tab-heading>
                            {{d.Name}}
                            <!-- <button class="btn btn-xs btn-warning edit" type="button" ng-click="addNewDashboard(d.Id)" title="Edit this Dashboard" ng-if="!d.toggleDrag" usage name="editDashboard">
                                <i class="fa fa-pencil"></i>
                            </button>
                            <button class="btn btn-xs btn-danger remove" type="button" ng-click="removeDashboard(d.Id)" title="Remove this Dashboard" ng-if="!d.toggleDrag" usage name="removeDashboard">
                                <i class="fa fa-trash"></i>
                            </button> -->
                        </uib-tab-heading>
                        <!-- Panel Body -->
                        <div ng-if="!(d.widgets|isEmpty)" class="panel-body" >

                            <!-- Dashboards -->
                            <div class="row {{ d.active ? 'active' : 'invisible'}}" id="sortable-view-{{d.Id}}" >
                                <div 
                                    class="connectPanels grid-stack grid-stack-12" 
                                    data-panel='{{d.Id}}'
                                    gridstack
                                    options="options" 
                                    on-change="onChange(event,items)" 
                                    on-drag-start="onDragStart(event,ui)" 
                                    on-drag-stop="onDragStop(event,ui)" 
                                    on-resize-start="onResizeStart(event,ui)" 
                                    on-resize-stop="onResizeStop(event,ui)"
                                >
                                    <!-- <div class="default-bg-messages zoomIn animated">
                                        Daily check widgets
                                    </div> -->
                                    <div 
                                        gridstack-item 
                                        ng-repeat="w in d.widgets" 
                                        class="grid-stack-item ibox-widget draggable-widget" 
                                        style="display:block"
                                        widgetId="{{w.Id}}"
                                        gs-item-id="w.Id"
                                        gs-item-x="w.view.x" 
                                        gs-item-y="w.view.y"
                                        usage
                                        
                                        gs-item-width="w.view.width" 
                                        gs-item-height="w.view.height"

                                        gs-item-min-width="w.view.minWidth" 
                                        gs-item-min-height="w.view.minHeight"

                                        gs-item-autopos="w.view.autopos"

                                        

                                        on-item-added="onItemAdded(item)" 
                                        on-item-removed="onItemRemoved(item)"

                                    >
                                        <div class="ibox grid-stack-item-content {{w.bg}}" compile-directive directive="{{w.view.url}}" mobile="{{ENV.mobile}}"></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- Empty Dashboard | No Widgets -->
                        <div class="panel-body" ng-if="d.widgets|isEmpty">
                            <div class="text-center m-t-lg" ng-if="widgets">
                                <h1>
                                    Your <strong>{{d.Name}}</strong> is empty.
                                </h1>
                                <!-- <small>
                                    To add widgets please click <button class="btn btn-xs btn-primary" ng-click="addNewWidget(d.Id)" name="addWidget" usage><i class="fa fa-bar-chart"></i>&nbsp;Add Widget</button>
                                </small> -->
                            </div>
                        </div>
                    </uib-tab>

                </uib-tabset>

            </div>


    </div>


</div>