
<!-- Controller Login -->
<div ng-controller="login">

    <!-- Wrapper -->
    <!-- <div class="wrapper wrapper-content  animated fadeInRight"> -->
    <div class="middle-box loginscreen  animated fadeInDown">
    <!--     <div>
            <div>
                <h1 class="logo-name">IN+</h1>
            </div>
            <h3>Welcome to IN+</h3>
            <p>Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
            </p>
            <p>Login in. To see it in action.</p>
            <form class="m-t" role="form" action="#">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Username" required="">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" required="">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

                <a ui-sref="forgot_password"><small>Forgot password?</small></a>
                <p class="text-muted text-center"><small>Do not have an account?</small></p>
                <a class="btn btn-sm btn-white btn-block" ui-sref="register">Create an account</a>
            </form>
            <p class="m-t"> <small>Inspinia we app framework base on Bootstrap 3 &copy; 2014</small> </p>
        </div> -->

        <div class="alert alert-danger col-md-12 tAM text-center" role="alert" ng-show="errorLogin">
            Wrong username or password
        </div>

        <div class="clearfix"></div>
        <div>
            <h3 class="text-center">Welcome to BackOffice</h3>
            <!-- <p>Create account to see it in action.</p> -->
            <!-- <div class="panel panel-default" id="login-wraper"> -->
                <!-- <div class="panel-heading">Login</div> -->
                <form class="login-form m-t" name="form" ng-submit="submit(form)" autocomplete="off">
                    <!-- <div class="panel-body" > -->
                    
                        <div class="form-group">
                            <label>Login</label>
                            <input type="text" class="form-control" placeholder='Type your username' name="username" ng-model="login.username" maxlength="70" spellcheck="false"/>
                        </div>

                        <div class="form-group">    
                            <label>Password</label>
                            <input type="password" class="form-control" name="password" ng-model="login.password" spellcheck="false"/>
                        </div>
                    
                        <!-- <div class="row">     -->
                            <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
                        <!-- </div> -->
                    <!-- </div> -->
                </form>
            <!-- </div> -->
        </div>

    </div>
</div>