<div ng-controller="monitor">
	<div class="row wrapper border-bottom white-bg page-heading">
	    <div class="col-lg-10">
	        <h2>Configuration</h2>
	        <ol class="breadcrumb">
	            <li>
	                <a href="index.html">Home</a>
	            </li>
	            <li>
	                <a>Management</a>
	            </li>
	            <li class="active">
	                <strong>Alerts</strong>
	            </li>
	        </ol>
	    </div>
	</div>
	<div class="wrapper wrapper-content animated fadeInRight">
	    <div class="row">
	        <div class="col-lg-12">
		        <div class="ibox-content forum-container">

			        <div class="forum-title">
			            <div class="pull-right forum-desc">
			                <samll>Total alerts: {{alertsNumber}}</samll>
			            </div>
			            <h3>All Alerts</h3>
			        </div>

			        <hr class="hr-line-dashed">

					<div class="search-form">
                        
                        <div class="input-group">
                            <input 
                            	type="text" 
                            	placeholder="Search for alert"
                            	class="form-control input-lg"
                            	ng-model="selectedAlert"
                            	ng-model-options="modelOptions"
                            	name="searchAlert"
                            	usage
                            >

                            <div class="input-group-btn">
                                <button class="btn btn-lg btn-primary" type="button" ng-click="addNewAlert()" usage>
                                    <i class="fa fa-plus"></i>&nbsp;Add New Alert
                                </button>
                            </div>

                        </div>

                    </div>
					<!-- All Alerts -->
			        <div class="forum-item" ng-class="{active : field.IsEnabled}" ng-repeat="field in alerts | filter: selectedAlert ">
			            <div class="row">
			                <div class="col-md-12">
			                	<!-- Icon -->
			                    <div class="forum-icon">
			                        <i class="fa fa-calendar"></i>
			                    </div>
			                    <!-- Title -->
			                    <a ui-sref="management.alertConfiguration({id: field.Id})" class="forum-item-title" usage>{{field.Title}}</a>
			                    <!-- Type -->
			                    <div class="forum-sub-title"><strong>type:&nbsp;</strong>{{field.Type}}</div>
								<div class="col-md-12 m-t-md well">
									<!-- Duration -->
				                    <div class="forum-sub-title">-&nbsp;{{field.FieldsDescription}}</div>
				                    <!-- Rules -->
				                    <div class="forum-sub-title m-t-xs">-&nbsp;{{field.RulesDescription}}</div>
				                </div>
			                </div>
			            </div>
			        </div>
		        </div>
	        </div>
	    </div>
	</div>


</div>
