<div ng-controller="monitorConfiguration">
	<div class="row wrapper border-bottom white-bg page-heading">
	    <div class="col-lg-10">
	        <h2>Configuration</h2>
	        <ol class="breadcrumb">
	            <li>
	                <a href="index.html">Home</a>
	            </li>
	            <li>
	                <a>Management</a>
	            </li>
	            <li>
	                <a ui-sref="management.alerts">Alerts</a>
	            </li>
	            <li class="active">
	                <strong>Alert Configuration</strong>
	            </li>
	        </ol>
	    </div>
	    <div class="col-lg-2">

	    </div>
	</div>
	<div class="wrapper wrapper-content animated fadeInRight">
	    <div class="row">
	    	<form role="form" name="alertForm" novalidate ng-submit="saveConfiguration(alertForm)" autocomplete="off">
		        <div class="col-lg-12">
		            <div class="ibox">
		                <div class="ibox-title">
							<!-- Alert Name -->
                            <div class="form-group">
                            	<label for="" class="control-label">Alert name</label>
                                <input
                                	type="text"
                                    name="field.Name"
                                    class="form-control"
                                    
                                    ng-model="alert.ConfigurationDetails.Title"
                                    ng-required
                                    usage
                                    />
                            </div>
		                </div>

		                <!-- Content Filters and Rules -->
		                <div class="ibox-content">
							

							    <div class="row">
							        <div class="col-lg-12">
							        								
							            <div class="ibox float-e-margins no-margins">

											<!-- Dynamic Configuration Fields -->
											<div class="row">
												<div class="col-md-6" ng-if="field.IsVisible" ng-repeat="field in configFieldsDynamic" ng-switch="type" ng-init="type=fieldType(configFieldsDynamic[$index].Value)">
													<!-- Type Number -->
					                                <div class="form-group" 
					                                	 ng-switch-when="number"
							                             ng-class="{ 'has-error' : 
							                                    alertForm.row_{{field.Name}}_fields.$invalid && 
							                                    alertForm.row_{{field.Name}}_fields.$dirty ,
							                                    ''  : 
							                                    !alertForm.row_{{field.Name}}_fields.$invalid && 
							                                    alertForm.row_{{field.Name}}_fields.$dirty}"
					                                	 >
					                                	<label for="" class="control-label">{{field.Label}}</label>
					                                    <input
					                                    	type="{{type}}"
					                                        name="row_{{field.Name}}_fields"
					                                        class="form-control"
					                                        ng-pattern="field.ValidationExpression"
					                                        ng-model="field.Value"
					                                        ng-required
					                                        usage
					                                        />
					                                </div>
					                                <!-- Type Text -->
					                                <div class="form-group" 
					                                	 ng-switch-when="text"
							                             ng-class="{ 'has-error' : 
							                                    alertForm.row_{{field.Name}}_fields.$invalid && 
							                                    alertForm.row_{{field.Name}}_fields.$dirty ,
							                                    ''  : 
							                                    !alertForm.row_{{field.Name}}_fields.$invalid && 
							                                    alertForm.row_{{field.Name}}_fields.$dirty}"
					                                	 >
					                                	<label for="" class="control-label">{{field.Label}}</label>
					                                    <input
					                                    	type="{{type}}"
					                                        name="row_{{field.Name}}_fields"
					                                        class="form-control"
					                                        ng-pattern="field.ValidationExpression"
					                                        ng-model="field.Value"
					                                        required
					                                        ng-required
					                                        usage
					                                        />
					                                </div>

				                            	</div>
											</div>

											<hr ng-if="configFieldsDynamic.length">

											<!-- Static Configuration Fields -->
											<div class="row">
												<div class="col-md-6" ng-if="field.IsVisible" ng-repeat="field in configFieldsStatic" ng-switch="type" ng-init="type=fieldType(configFieldsStatic[$index].Value)">
													<!-- Type Number -->
					                                <div class="form-group" 
					                                	 ng-switch-when="number"
							                             ng-class="{ 'has-error' : 
							                                    alertForm.row_{{field.Name}}_static_fields.$invalid && 
							                                    alertForm.row_{{field.Name}}_static_fields.$dirty ,
							                                    ''  : 
							                                    !alertForm.row_{{field.Name}}_static_fields.$invalid && 
							                                    alertForm.row_{{field.Name}}_static_fields.$dirty}"
					                                	>
					                                	<label for="" class="control-label">{{field.Label}}</label>
					                                    <input
					                                    	type="{{type}}"
					                                        name="row_{{field.Name}}_static_fields"
					                                        class="form-control"
					                                        ng-pattern="field.ValidationExpression"
					                                        ng-model="field.Value"
					                                        ng-required
					                                        usage
					                                        />
					                                </div>
					                                <!-- Type Text -->
					                                <div class="form-group" 
					                                	 ng-switch-when="text"
							                             ng-class="{ 'has-error' : 
							                                    alertForm.row_{{field.Name}}_static_fields.$invalid && 
							                                    alertForm.row_{{field.Name}}_static_fields.$dirty ,
							                                    ''  : 
							                                    !alertForm.row_{{field.Name}}_static_fields.$invalid && 
							                                    alertForm.row_{{field.Name}}_static_fields.$dirty}"
					                                	>
					                                	<label for="" class="control-label">{{field.Label}}</label>
					                                    <input
					                                    	type="{{type}}"
					                                        name="row_{{field.Name}}_static_fields"
					                                        class="form-control"
					                                        ng-pattern="field.ValidationExpression"
					                                        ng-model="field.Value"
					                                        required
					                                        ng-required
					                                        usage
					                                        />
					                                </div>
					                                <!-- Type Checkbox -->
										            <div class="switch m-t-md" 
										            	 ng-switch-when="checkbox"
										            	>

										                <div class="onoffswitch pull-left">
										                    <input 
										                    	type="checkbox" 
										                    	
										                    	ng-model="field.Value"
										                    	class="onoffswitch-checkbox" 
										                    	name="field.{{field.Name}}"
										                    	id="check-{{field.Name}}"
										                    	usage
										                    >
										                    <label class="onoffswitch-label" for="check-{{field.Name}}" >
										                        <span class="onoffswitch-inner"></span>
										                        <span class="onoffswitch-switch"></span>
										                    </label>
										                </div>
										                
														<label 
															for="check-{{field.Name}}"
															class="control-label pull-left">&nbsp;&nbsp;&nbsp;{{field.Label}}
														</label>
										            </div>

				                            	</div>

											</div>
											
											<hr class="hr-line-dashed">
			
											<div class="clearfix"></div>

							            </div>
							        </div>
							    </div>

								<div class="clearfix"></div>
								
								<!-- FILTERS -->
								<div ng-include="'views/templates/filterRows.html'"></div>								
								
								<div class="clearfix"></div>
								
								<div class="row">
									<div class="col-md-12">

										<!-- Add Filter Row -->
										<button type="button" class="btn btn-primary btn-sm" ng-click="addRow()" ng-disabled="isProcessing" usage>
							                <i class="fa fa-spinner fa-spin" ng-show="isProcessing"></i><i class="fa fa-plus"></i>&nbsp;Add Row</button>
										<!-- <button type="button" class="btn btn-default btn-sm pull-right" ng-click="testFilter()"><i class="fa fa-cog"></i>&nbsp;Test Filter</button> -->
									</div>

									<hr>
								</div>

								<hr class="hr-line-dashed">

								<div class="clearfix"></div>

								<h2>Add Filter Expression </h2>

								<div class="row">
							        <div class="col-lg-12">

										<!-- Validation Expression Info -->
			                            <div class="alert alert-info">
											<p>Complex filter expression can be used to make define logical connections between the defined filter rules, by using their IDs (1, 2, 3 and etc.), logical operators (AND, OR) and open and closed brackets.<p>
											<p><strong>Example 1:</strong> 1 AND 2 AND 3 OR 4</p>
											<p><strong>Example 2:</strong> ((1 OR 2) AND (1 OR 3)) OR (1 AND 4)</p>
			                            </div>
			                            
										<div class="search-form">
					                        <!-- Validation Expression Group-->
				                            <div class="input-group"
					                             ng-class="{ 'has-error' : 
					                                    alertForm.field.filterValidate.$invalid && 
					                                    alertForm.field.filterValidate.$dirty || filterExpression.errorMessage ,
					                                    ''  : 
					                                    !alertForm.field.filterValidate.$invalid && 
					                                    alertForm.field.filterValidate.$dirty}"
				                            >
				                            	<!-- Validate Input -->
				                                <input 
				                                	type="text" 
				                                	placeholder="{{filterExpression.Label}}" 
				                                	name="field.filterValidate" 
				                                	class="form-control input-lg"
				                                	ng-model="filterExpression.Value"
				                                	ng-pattern="filterExpression.ValidationExpression"
				                                	aria-describedby="helpBlock"
				                                	usage
				                                >
												<!-- Validate Button -->
				                                <div class="input-group-btn" >
				                                    <button 
				                                    	class="btn btn-lg btn-default" 
			                                    		type="button" 
			                                    		ng-click="validateExpression()"
														ng-class="{ 'btn-danger' : 
					                                    alertForm.field.filterValidate.$invalid && 
					                                    alertForm.field.filterValidate.$dirty || filterExpression.errorMessage ,
					                                    ''  : 
					                                    !alertForm.field.filterValidate.$invalid && 
					                                    alertForm.field.filterValidate.$dirty}"
														ng-disabled="isProcessing"
														usage
				                                    >
				                                    	<i class="fa fa-spinner fa-spin" ng-show="isProcessing"></i>
				                                        <i class="fa fa-check"></i>&nbsp;Validate
				                                    </button>
				                                </div>
				                            </div>

											<!-- Error Expression Message -->
				                            <span class="help-block m-b-none text-danger" ng-if="filterExpression.errorMessage">{{filterExpression.errorMessage}}</span>

					                    </div>

							        </div>
								</div>

								<div class="clearfix"></div>

								<hr class="hr-line-dashed">

								<!-- SAVE/UPDATE ERROR -->
								<div ng-if="saveResponse" class="alert alert-danger">
									{{saveResponse}}
									<div class="clearfix"></div>

								</div>


								<!-- SAVE/UPDATE & CLEAR -->
								<div class="row">
									<div class="col-md-12">

							            <button type="button" class="btn btn-white" ng-click="$state.go('management.alerts',{})" ng-disabled="isProcessing">
							                <i class="fa fa-spinner fa-spin" ng-show="isProcessing"></i>
							                <i class="fa fa-arrow-left"></i>
							                Back
							           	</button>


							            <button class="btn btn-success pull-right" type="submit" ng-disabled="alertForm.$invalid || isProcessing" usage>
							                <i class="fa fa-spinner fa-spin" ng-show="isProcessing"></i>
							                <strong>Save changes</strong>
							            </button>										
							            <button type="button" class="btn btn-white pull-right m-r-sm" ng-click="clearChanges()" ng-disabled="isProcessing">
							                <i class="fa fa-spinner fa-spin" ng-show="isProcessing"></i>Clear changes</button>

						            </div>
					            </div>

		                        <div class="clearfix"></div>

		                </div>

		            </div>
		        </div>
	        </form>
	    </div>
	</div>
</div>