
<!-- Controller Register -->
<div ng-controller="register">

    <!-- Wrapper -->
    <!-- <div class="wrapper wrapper-content  animated fadeInRight"> -->
    <div class="middle-box loginscreen  animated fadeInDown text-center">

        <div class="alert alert-danger col-md-12 tAM" role="alert" ng-show="errorLogin">
            Wrong username or password
        </div>

        <div class="clearfix"></div>
        <div>
            <h3>Register user to BackOffice</h3>
            <p>Create account to see it in action.</p>
            <form class="m-t" ng-submit="submit(form)" name="form">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name" name="username" required ng-model="register.username" usage>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" name="password" required ng-model="register.password" usage>
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b" usage>Register</button>

                <!-- <p class="text-muted text-center"><small>Already have an account?</small></p>
                <a class="btn btn-sm btn-white btn-block" ui-sref="index.login">Login</a> -->
            </form>
        </div>

    </div>
</div>