<div ng-controller="symbols">
	<div class="row wrapper border-bottom white-bg page-heading">
	    <div class="col-lg-10">
	        <h2>Symbols</h2>
	        <ol class="breadcrumb">
	            <li>
	                <a href="index.html">Home</a>
	            </li>
	            <li>
	                <a>Management</a>
	            </li>
	            <li class="active">
	                <strong>Symbols</strong>
	            </li>
	        </ol>
	    </div>
	    <div class="col-lg-2">

	    </div>
	</div>
	<div class="wrapper wrapper-content animated fadeInRight">
	    <div class="row">
	        <div class="col-lg-12">
	            <div class="ibox">
	                <div class="ibox-title">
	                    <h5>Symbols list</h5>
	                    <div class="ibox-tools">
							<button ng-click="openEditGroupsModal('xs')" type="button" class="btn btn-warning btn-xs" ng-disabled="isProcessing" usage>
								<i class="fa fa-spinner fa-spin" ng-show="isProcessing"></i>
								<i class="fa fa-edit"></i>&nbsp;Edit Groups
							</button>
							<button ng-click="openAssignGroupsModal()" type="button" class="btn btn-primary btn-xs" ng-disabled="isProcessing || disabledAssignBtn" usage>
								<i class="fa fa-spinner fa-spin" ng-show="isProcessing"></i>
								<i class="fa fa-paperclip"></i>&nbsp;Assign To Group
							</button>
	                    </div>
	                </div>
	                <div class="ibox-content">

					    <div class="row">
					        <div class="col-lg-12">
					        								
					            <div class="ibox float-e-margins">
	                                <div class="ibox-content" style="width:100%;height:640px;position:relative;" ng-if="datatable.data.loading">
	                                <div class="ibox-content" style="" ng-if="datatable.data.loading">
	                                    <div  class="widget-wdatatable" style="top:0px;width: 100%; height: 100%;">
	                                        <div ag-grid="datatable.data.gridOptions" class="ag-theme-balham" style="width: 100%; height: 100%;"></div>
	                                    </div>
	                                </div>
	                                <div class="ibox-content zoomIn animated" ng-if="!datatable.data.loading"  ng-include="'views/widgets/widget-no-data.html'">
	                                </div>
					            </div>
					        </div>
					    </div>


	                </div>

	            </div>
	        </div>
	    </div>
	</div>
</div>