<div ng-controller="users">
	<div class="row wrapper border-bottom white-bg page-heading">
	    <div class="col-lg-10">
	        <h2>Users</h2>
	        <ol class="breadcrumb">
	            <li>
	                <a href="index.html">Home</a>
	            </li>
	            <li>
	                <a>Management</a>
	            </li>
	            <li class="active">
	                <strong>Users</strong>
	            </li>
	        </ol>
	    </div>
	    <div class="col-lg-2">

	    </div>
	</div>
	<div class="wrapper wrapper-content  animated fadeInRight">
	    <div class="row">
	        <div class="col-lg-12">
	            <div class="ibox">
	                <div class="ibox-title">
	                    <h5>Users list</h5>
	                    <div class="ibox-tools">
	                    </div>
	                </div>
	                <div class="ibox-content">

					    <div class="row">
					        <div class="col-lg-6">
					            <div class="ibox float-e-margins">
				                    <table datatable="ng" dt-options="dtOptions" dt-column-defs="dtColumnDefs"  class="table table-striped table-bordered table-hover dataTables-example table-condensed">
				                        <thead>
					                        <tr>
			                        			<th>Name</th>
					                        </tr>
				                        </thead>
				                        <tbody>
				                        
			                            <tr ng-repeat="user in usersData">
			                                <td class="fa-border">
			                                	<strong>
			                                		<a href="" ng-click="openConfigWidget(user.Id)" usage>
			                                			{{user.UserName}}
			                                		</a>
			                                	</strong>
			                                </td>
			                            </tr>
				                        </tbody>
				                    </table>
					            </div>
					        </div>
					    </div>


	                </div>

	            </div>
	        </div>
	    </div>
	</div>
</div>