<div class="inmodal">
    <div class="modal-header">
        <i class="fa fa-laptop modal-icon"></i>
        <h4 class="modal-title">Dashboard Configuration</h4>
    </div>
    <form role="form" name="dashboard_form" novalidate ng-submit="dashboardForm()" autocomplete="off">
    <div class="modal-body">
        <div class="row">
                <input type="hidden" ng-model="container.Id">
                <div class="form-group">
                    <label class="control-label">Dashboard's name</label> 
                    <input type="text"
                        id="" 
                        class="form-control"
                        ng-model="container.Name"
                        required
                        minlength="3"
                    >
                </div>
            
        </div>
    </div>
    <div class="modal-footer">
        
            <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>

            <button class="btn btn-success" ng-if="!isEdit" type="submit" ng-disabled="dashboard_form.$invalid || isProcessing">
                <i class="fa fa-spinner fa-spin" ng-show="isProcessing"></i>
                <strong><i class="fa fa-check"></i>&nbsp;Create</strong>
            </button>
            <button class="btn btn-warning" ng-if="isEdit" type="submit" ng-disabled="dashboard_form.$invalid || isProcessing">
                <i class="fa fa-spinner fa-spin" ng-show="isProcessing"></i>
                <strong><i class="fa fa-check"></i>&nbsp;Edit</strong>
            </button>
        
    </div>
    </form>
</div>

