<div class="inmodal">
    <div class="modal-header">
        <i class="fa fa-bar-chart modal-icon"></i>
        <h4 class="modal-title">Widget Configuration</h4>
    </div>
    <form role="form" name="widget_form" novalidate autocomplete="off">
        <div class="modal-body">
            <div class="row">
                <!-- Available Calculators -->
                <div class="col-md-4">
                    <div    
                        class="form-group m-t-sm"
                    >

                        <label for="" class="control-label">{{config.calculators.Label}}</label>
                        <!-- Type Select -->
                        <select 
                            name="newCalculator" 
                            class="form-control"
                            ng-model="config.calculators.Value"
                            ng-options="master.Value as master.Name for master in config.calculators.DropDownValues"
                            ng-pattern="config.calculators.ValidationExpression"
                            required
                            ng-change="getAvailableWidgets(config.calculators.Value)"
                        >
                        </select>
                    </div>
                </div>

                <!-- Available Widgets -->
                <div class="col-md-4" ng-show="config.widgets.Label">
                    <div    
                        class="form-group m-t-sm"
                    >

                        <label for="" class="control-label">{{config.widgets.Label}}</label>
                        <!-- Type Select -->
                        <select 
                            name="newConfiguration" 
                            class="form-control"
                            ng-model="config.widgets.Value"
                            ng-options="master.Value as master.Name for master in config.widgets.DropDownValues"
                            ng-pattern="config.widgets.ValidationExpression"
                            required
                        >
                        </select>
                    </div>
                </div>
                <!-- Available Dashboards -->
                <div class="col-md-4">
                    <div    
                        class="form-group m-t-sm"
                    >
                        <label for="" class="control-label">Available Dashboards</label>
                        <!-- Select Dashboard -->
                        <select 
                            name="assignToDashboard" 
                            class="form-control"
                            ng-model="config.DashboardId"
                            ng-options="master.Id as master.Name for master in dashboards"
                            required
                        >
                        <option value="">-- Please select --</option>
                        </select>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
                <button 
                    class="btn btn-success" 
                    type="button" 
                    ng-click="ok()"
                    ng-disabled="widget_form.$invalid || isProcessing"
                >
                    <i class="fa fa-spinner fa-spin" ng-show="isProcessing"></i>
                    <i class="fa fa-check"></i>&nbsp;Select
                </button>
        </div>
    </form>
    
</div>

