<div class="inmodal">
    <div class="modal-header">
        <i class="fa fa-bar-chart modal-icon"></i>
        <h4 class="modal-title">Widget Configuration</h4>
        
    </div>
    <form role="form" name="signup_form" class="form-horizontal" novalidate ng-submit="signupForm()" autocomplete="off">
    <div class="modal-body">

        
            <div class="form-group" ng-class="{ 'has-error'     : signup_form.name.$invalid && signup_form.name.$dirty ,
                                ''  : !signup_form.name.$invalid && signup_form.name.$dirty}">
                <label class="control-label">Widget's name</label> 
                <input type="text" 
                    name="name" 
                    id="" 
                    class="form-control"
                    ng-change="" 
                    ng-model="widget.name"
                    required
                >
            </div>



            <div class="form-group" ng-class="{ 'has-error'     : signup_form.size.$invalid && signup_form.size.$dirty ,
                                ''  : !signup_form.size.$invalid && signup_form.size.$dirty}">
                <label class="control-label">Widget size</label> 
                <select 
                    name="size" 
                    id="" 
                    class="form-control"
                    ng-change=""
                    ng-model="widget.size"
                    ng-options="size.id as size.name for size in widgetSizes"
                    required
                >
                    <option value="">-- Please select --</option>
                </select>
            </div>
            <div class="clearfix"></div>

        
    </div>
    <div class="modal-footer">
        
            <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
            
            <button class="btn btn-success" type="submit" ng-disabled="signup_form.$invalid"><strong>Save changes</strong></button>
            <button type="button" class="btn btn-danger pull-left" ng-click="ok()">Delete</button>
        
    </div>
    </form>
</div>

