<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">Are you sure to delete this widget?</h4>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
        <button 
            class="btn btn-danger" 
            type="button" 
            ng-click="ok()"
            ng-disabled="isProcessing"
        >
            <i class="fa fa-spinner fa-spin" ng-show="isProcessing"></i>&nbsp;Ok
        </button>
    </div>
</div>