<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">Are you sure to delete this Dahsboard?</h4>
    </div>
    <div class="modal-body">

        <p class="text-center m-n" ng-if="!isDefault">Be aware that if you delete a dashboard, <strong>all widgets</strong> inside it will be also <strong>deleted</strong>!</p>
        <p class="text-center m-n alert alert-warning" ng-if="isDefault">You can't delete your <strong>default</strong> dashboard!</p>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
        <button 
            class="btn btn-danger" 
            type="button" 
            ng-click="ok()"
            ng-disabled="isProcessing || isDefault"
        >
            <i class="fa fa-spinner fa-spin" ng-show="isProcessing"></i>&nbsp;Delete
        </button>
    </div>
</div>