<div class="inmodal">
    <div class="modal-header">
        <i class="fa fa-check modal-icon"></i>
        <h4 class="modal-title">Test Filter Configurations</h4>
    </div>
    <form role="form" name="testForm" novalidate  autocomplete="off">
        <div class="modal-body">

            <div class="row">
                
                <div ng-repeat="item in data.MonitoredObjectProperties" class="">
                    
                    <!-- TEMPLATE -->
                    <div class="col-md-6">
                        
                        <div    
                            class="form-group m-t-sm" 
                            ng-class="{ 'has-error' : 
                                    testForm.row_{{$index}}_monitored.$invalid && 
                                    testForm.row_{{$index}}_monitored.$dirty ,
                                    ''  : 
                                    !testForm.row_{{$index}}_monitored.$invalid && 
                                    testForm.row_{{$index}}_monitored.$dirty}"
                            
                            ng-switch="typeMonitored"

                            ng-init="typeMonitored=fieldTypeMonitored(item.DropDownValues);"
                        >
                            
                            <label for="" class="control-label">{{item.Label}}</label>

                            <!-- Type Select -->
                            <select 
                                ng-switch-when="select"
                                name="row_{{$index}}_monitored" 
                                class="form-control"

                                ng-model="item.Value"
                                ng-init="item.Value=0"
                                ng-options="item.DropDownValues.indexOf(master) as master.Name for master in item.DropDownValues"

                                ng-pattern="item.ValidationExpression"
                                required
                            >
                            </select>

                            <!-- Type Text -->
                            <input
                                type="{{typeMonitored}}"
                                ng-switch-when="text"
                                name="row_{{$index}}_monitored"
                                class="form-control"

                                ng-model="item.Value"

                                ng-pattern="item.ValidationExpression"
                                required
                                />
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
            <button type="button" class="btn btn-primary" ng-click="ok()"><i class="fa fa-check"></i>&nbsp;Test</button>
        </div>
    </form>

</div>

