<div class="inmodal">
    <div class="modal-header">
        <i class="fa fa-cog modal-icon"></i>
        <h4 class="modal-title">Select Configuration Type Please</h4>
    </div>
    <div class="modal-body">

        <div class="row">
            <!-- TEMPLATE -->
            <div class="col-md-6">
                <div    
                    class="form-group m-t-sm"
                >

                    <label for="" class="control-label">{{config.Label}}</label>
                    <!-- Type Select -->
                    <select 
                        name="newConfiguration" 
                        class="form-control"
                        ng-model="config.Value"
                        ng-options="master.Value as master.Name for master in config.DropDownValues"
                        ng-pattern="config.ValidationExpression"
                        required
                    >
                    </select>
                </div>
            </div>
        </div>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
            <button 
                class="btn btn-success" 
                type="button" 
                ng-click="ok()"
                ng-disabled="isProcessing"
            >
                <i class="fa fa-spinner fa-spin" ng-show="isProcessing"></i>
                <i class="fa fa-check"></i>&nbsp;Select
            </button>
    </div>

</div>

