<div class="inmodal">
    <div class="modal-header">
        <h4 class="modal-title">Are you sure to delete this rule?</h4>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="cancel()">Close</button>
        <button type="button" class="btn btn-danger" ng-click="ok()">Ok</button>
    </div>

</div>

